.jcarousel-skin-noticias .jcarousel-container {}

.jcarousel-skin-noticias .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-noticias .jcarousel-container-horizontal {
    padding: 20px;
    width: 895px;
}

.jcarousel-skin-noticias .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-noticias .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-noticias .jcarousel-clip-horizontal {
    height: 90px;
    width: 899px;
}

.jcarousel-skin-noticias .jcarousel-clip-vertical {
    width:  77px;
    height: 245px;
}

.jcarousel-skin-noticias .jcarousel-item {
    width: 94px;
    height: 75px;
}

.jcarousel-skin-noticias .jcarousel-item:hover,
.jcarousel-skin-noticias .jcarousel-item:focus {
    border-color: #808080;
}

.jcarousel-skin-noticias .jcarousel-item-horizontal {
    margin: 0 4px;
}

.jcarousel-skin-noticias .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 7px;
	margin-right: 0;
}

.jcarousel-skin-noticias .jcarousel-item-vertical {
    margin-bottom: 7px;
}

.jcarousel-skin-noticias .jcarousel-item-placeholder {
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-noticias .jcarousel-next-horizontal {
    position: absolute;
    top: 40%;
    right: 0px;
    width: 13px;
    height: 18px;
    cursor: pointer;
    background: transparent url(seta-dir.png) no-repeat 0 0;
}

.jcarousel-skin-noticias .jcarousel-direction-rtl .jcarousel-next-horizontal {}

.jcarousel-skin-noticias .jcarousel-next-horizontal:hover,
.jcarousel-skin-noticias .jcarousel-next-horizontal:focus {}

.jcarousel-skin-noticias .jcarousel-next-horizontal:active {}

.jcarousel-skin-noticias .jcarousel-next-disabled-horizontal,
.jcarousel-skin-noticias .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-noticias .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-noticias .jcarousel-next-disabled-horizontal:active {background: transparent url(seta-dir2.png) no-repeat 0 0;}

.jcarousel-skin-noticias .jcarousel-prev-horizontal {
    position: absolute;
    top: 40%;
    left: 0px;
    width: 13px;
    height: 18px;
    cursor: pointer;
    background: transparent url(seta-esq.png) no-repeat 0 0;
}

.jcarousel-skin-noticias .jcarousel-direction-rtl .jcarousel-prev-horizontal {}

.jcarousel-skin-noticias .jcarousel-prev-horizontal:hover,
.jcarousel-skin-noticias .jcarousel-prev-horizontal:focus {}

.jcarousel-skin-noticias .jcarousel-prev-horizontal:active {}

.jcarousel-skin-noticias .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-noticias .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-noticias .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-noticias .jcarousel-prev-disabled-horizontal:active {background: transparent url(seta-esq2.png) no-repeat 0 0;}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-noticias .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.gif) no-repeat 0 0;
}

.jcarousel-skin-noticias .jcarousel-next-vertical:hover,
.jcarousel-skin-noticias .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-noticias .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-noticias .jcarousel-next-disabled-vertical,
.jcarousel-skin-noticias .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-noticias .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-noticias .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-noticias .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.gif) no-repeat 0 0;
}

.jcarousel-skin-noticias .jcarousel-prev-vertical:hover,
.jcarousel-skin-noticias .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-noticias .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-noticias .jcarousel-prev-disabled-vertical,
.jcarousel-skin-noticias .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-noticias .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-noticias .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
