<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" style="font-family: sans-serif;">
   <head>
      <!-- NAME: 1:2:1 COLUMN -->
      <!--[if gte mso 15]>
      <xml>
         <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
         </o:OfficeDocumentSettings>
      </xml>
      <![endif]-->
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>FILIAÇÃO</title>
      <style type="text/css">
         table{ page-break-inside:avoid; }

         *{font-family: sans-serif !important;}
         p{
         margin:10px 0;
         padding:0;
         }
         tr.bordatr{
            border: 1px solid #000;
         }

         tr.bordatrinterna{
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
         }

         td.bordatrinterna{
            border-top: 1px solid #000;
             /* border-bottom: 1px solid #000; */
             padding-bottom: 5px !important;
             margin: 3px 4px !important;
             padding-top: 10px !important;
             border-right: 1px solid #000;
             padding-right: 1px !important;
         }
         table{
         border-collapse:collapse;
         }
         h1,h2,h3,h4,h5,h6{
         display:block;
         margin:0;
         padding:0;
         }
         img,a img{
         border:0;
         height:auto;
         outline:none;
         text-decoration:none;
         }
         body,#bodyTable,#bodyCell{
         height:100%;
         margin:0;
         padding:0;
         width:100%;
         }
         .mcnPreviewText{
         display:none !important;
         }
         #outlook a{
         padding:0;
         }
         img{
         -ms-interpolation-mode:bicubic;
         }
         table{
         mso-table-lspace:0pt;
         mso-table-rspace:0pt;
         }
         .ReadMsgBody{
         width:100%;
         }
         .ExternalClass{
         width:100%;
         }
         p,a,li,td,blockquote{
         mso-line-height-rule:exactly;
         }
         a[href^=tel],a[href^=sms]{
         color:inherit;
         cursor:default;
         text-decoration:none;
         }
         p,a,li,td,body,table,blockquote{
         -ms-text-size-adjust:100%;
         -webkit-text-size-adjust:100%;
         }
         .ExternalClass,.ExternalClass p,.ExternalClass td,.ExternalClass div,.ExternalClass span,.ExternalClass font{
         line-height:100%;
         }
         a[x-apple-data-detectors]{
         color:inherit !important;
         text-decoration:none !important;
         font-size:inherit !important;
         font-family:inherit !important;
         font-weight:inherit !important;
         line-height:inherit !important;
         }
         #bodyCell{
         padding:10px;
         border-top:5px none #000000;
         }
         .templateContainer{
         max-width:850px !important;
         border:1px solid #000;
         }
         a.mcnButton{
         display:block;
         }
         .mcnImage,.mcnRetinaImage{
         vertical-align:bottom;
         }
         .mcnTextContent{
         word-break:break-word;
         }
         .mcnTextContent img{
         height:auto !important;
         }
         .mcnDividerBlock{
         table-layout:fixed !important;
         }
         /*
         @tab Page
         @section Background Style
         @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
         */
         body,#bodyTable{
         /*@editable*/background-color:#f7f7f7;
         }
         /*
         @tab Page
         @section Background Style
         @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
         */
         #bodyCell{
         /*@editable*/border-top:5px none #000000;
         }
         /*
         @tab Page
         @section Email Border
         @tip Set the border for your email.
         */
         .templateContainer{
         /*@editable*/border:1px solid #000;
         }
         /*
         @tab Page
         @section Heading 1
         @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
         @style heading 1
         */
         h1{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:36px;
         /*@editable*/font-style:normal;
         /*@editable*/font-weight:bold;
         /*@editable*/line-height:125%;
         /*@editable*/letter-spacing:normal;
         /*@editable*/text-align:left;
         }
         /*
         @tab Page
         @section Heading 2
         @tip Set the styling for all second-level headings in your emails.
         @style heading 2
         */
         h2{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:22px;
         /*@editable*/font-style:normal;
         /*@editable*/font-weight:bold;
         /*@editable*/line-height:125%;
         /*@editable*/letter-spacing:normal;
         /*@editable*/text-align:left;
         }
         /*
         @tab Page
         @section Heading 3
         @tip Set the styling for all third-level headings in your emails.
         @style heading 3
         */
         h3{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:20px;
         /*@editable*/font-style:normal;
         /*@editable*/font-weight:bold;
         /*@editable*/line-height:125%;
         /*@editable*/letter-spacing:normal;
         /*@editable*/text-align:left;
         }
         /*
         @tab Page
         @section Heading 4
         @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
         @style heading 4
         */
         h4{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:18px;
         /*@editable*/font-style:normal;
         /*@editable*/font-weight:bold;
         /*@editable*/line-height:125%;
         /*@editable*/letter-spacing:normal;
         /*@editable*/text-align:left;
         }
         /*
         @tab Preheader
         @section Preheader Style
         @tip Set the background color and borders for your email's preheader area.
         */
         #templatePreheader{
         /*@editable*/background-color:#ffffff;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:1px none ;
         /*@editable*/border-bottom:0;
         /*@editable*/padding-top:20px;
         /*@editable*/padding-bottom:0px;
         }
         /*
         @tab Preheader
         @section Preheader Text
         @tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
         */
         #templatePreheader .mcnTextContent,#templatePreheader .mcnTextContent p{
         /*@editable*/color:#656565;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:12px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:left;
         }
         /*
         @tab Preheader
         @section Preheader Link
         @tip Set the styling for your email's preheader links. Choose a color that helps them stand out from your text.
         */
         #templatePreheader .mcnTextContent a,#templatePreheader .mcnTextContent p a{
         /*@editable*/color:#656565;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         /*
         @tab Header
         @section Header Style
         @tip Set the background color and borders for your email's header area.
         */
         #templateHeader{
         /*@editable*/background-color:#ffffff;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:0;
         /*@editable*/border-bottom:0;
         /*@editable*/padding-top:20px;
         /*@editable*/padding-bottom:0px;
         }
         /*
         @tab Header
         @section Header Text
         @tip Set the styling for your email's header text. Choose a size and color that is easy to read.
         */
         #templateHeader .mcnTextContent,#templateHeader .mcnTextContent p{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:16px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:left;
         }
         /*
         @tab Header
         @section Header Link
         @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
         */
         #templateHeader .mcnTextContent a,#templateHeader .mcnTextContent p a{
         /*@editable*/color:#2BAADF;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         /*
         @tab Upper Body
         @section Upper Body Style
         @tip Set the background color and borders for your email's upper body area.
         */
         #templateUpperBody{
         /*@editable*/background-color:transparent;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:0;
         /*@editable*/border-bottom:0;
         /*@editable*/padding-top:5px;
         /*@editable*/padding-bottom:0px;
         }
         /*
         @tab Upper Body
         @section Upper Body Text
         @tip Set the styling for your email's upper body text. Choose a size and color that is easy to read.
         */
         #templateUpperBody .mcnTextContent,#templateUpperBody .mcnTextContent p{
         /*@editable*/color:#202020;
         /*@editable*/font-family:'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
         /*@editable*/font-size:16px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:left;
         }
         /*
         @tab Upper Body
         @section Upper Body Link
         @tip Set the styling for your email's upper body links. Choose a color that helps them stand out from your text.
         */
         #templateUpperBody .mcnTextContent a,#templateUpperBody .mcnTextContent p a{
         /*@editable*/color:#2BAADF;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         /*
         @tab Columns
         @section Column Style
         @tip Set the background color and borders for your email's columns.
         */
         #templateColumns{
         /*@editable*/background-color:#ffffff;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:0;
         /*@editable*/border-bottom:0;
         /*@editable*/padding-top:0;
         /*@editable*/padding-bottom:0;
         }
         /*
         @tab Columns
         @section Column Text
         @tip Set the styling for your email's column text. Choose a size and color that is easy to read.
         */
         #templateColumns .columnContainer .mcnTextContent,#templateColumns .columnContainer .mcnTextContent p{
         /*@editable*/color:#202020;
         /*@editable*/font-family:'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
         /*@editable*/font-size:16px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:left;
         }
         /*
         @tab Columns
         @section Column Link
         @tip Set the styling for your email's column links. Choose a color that helps them stand out from your text.
         */
         #templateColumns .columnContainer .mcnTextContent a,#templateColumns .columnContainer .mcnTextContent p a{
         /*@editable*/color:#2BAADF;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         /*
         @tab Lower Body
         @section Lower Body Style
         @tip Set the background color and borders for your email's lower body area.
         */
         #templateLowerBody{
         /*@editable*/background-color:#ffffff;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:0;
         /*@editable*/border-bottom:2px solid #EAEAEA;
         /*@editable*/padding-top:0;
         /*@editable*/padding-bottom:9px;
         }
         /*
         @tab Lower Body
         @section Lower Body Text
         @tip Set the styling for your email's lower body text. Choose a size and color that is easy to read.
         */
         #templateLowerBody .mcnTextContent,#templateLowerBody .mcnTextContent p{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:16px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:left;
         }
         /*
         @tab Lower Body
         @section Lower Body Link
         @tip Set the styling for your email's lower body links. Choose a color that helps them stand out from your text.
         */
         #templateLowerBody .mcnTextContent a,#templateLowerBody .mcnTextContent p a{
         /*@editable*/color:#2BAADF;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         /*
         @tab Footer
         @section Footer Style
         @tip Set the background color and borders for your email's footer area.
         */
         #templateFooter{
         /*@editable*/background-color:#fafafa;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:0;
         /*@editable*/border-bottom:0;
         /*@editable*/padding-top:9px;
         /*@editable*/padding-bottom:9px;
         }
         /*
         @tab Footer
         @section Footer Text
         @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
         */
         #templateFooter .mcnTextContent,#templateFooter .mcnTextContent p{
         /*@editable*/color:#656565;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:12px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:center;
         }
         /*
         @tab Footer
         @section Footer Link
         @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
         */
         #templateFooter .mcnTextContent a,#templateFooter .mcnTextContent p a{
         /*@editable*/color:#656565;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         @media only screen and (min-width:768px){
         .templateContainer{
         width:850px !important;
         }
         }  @media only screen and (max-width: 480px){
         body,table,td,p,a,li,blockquote{
         -webkit-text-size-adjust:none !important;
         }
         }  @media only screen and (max-width: 480px){
         body{
         width:100% !important;
         min-width:100% !important;
         }
         }  @media only screen and (max-width: 480px){
         #bodyCell{
         padding-top:10px !important;
         }
         }  @media only screen and (max-width: 480px){
         .columnWrapper{
         max-width:100% !important;
         width:100% !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnRetinaImage{
         max-width:100% !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnImage{
         width:100% !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnCartContainer,.mcnCaptionTopContent,.mcnRecContentContainer,.mcnCaptionBottomContent,.mcnTextContentContainer,.mcnBoxedTextContentContainer,.mcnImageGroupContentContainer,.mcnCaptionLeftTextContentContainer,.mcnCaptionRightTextContentContainer,.mcnCaptionLeftImageContentContainer,.mcnCaptionRightImageContentContainer,.mcnImageCardLeftTextContentContainer,.mcnImageCardRightTextContentContainer,.mcnImageCardLeftImageContentContainer,.mcnImageCardRightImageContentContainer{
         max-width:100% !important;
         width:100% !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnBoxedTextContentContainer{
         min-width:100% !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnImageGroupContent{
         padding:9px !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnCaptionLeftContentOuter .mcnTextContent,.mcnCaptionRightContentOuter .mcnTextContent{
         padding-top:9px !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnImageCardTopImageContent,.mcnCaptionBottomContent:last-child .mcnCaptionBottomImageContent,.mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent{
         padding-top:18px !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnImageCardBottomImageContent{
         padding-bottom:9px !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnImageGroupBlockInner{
         padding-top:0 !important;
         padding-bottom:0 !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnImageGroupBlockOuter{
         padding-top:9px !important;
         padding-bottom:9px !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnTextContent,.mcnBoxedTextContentColumn{
         padding-right:18px !important;
         padding-left:18px !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnImageCardLeftImageContent,.mcnImageCardRightImageContent{
         padding-right:18px !important;
         padding-bottom:0 !important;
         padding-left:18px !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcpreview-image-uploader{
         display:none !important;
         width:100% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Heading 1
         @tip Make the first-level headings larger in size for better readability on small screens.
         */
         h1{
         /*@editable*/font-size:22px !important;
         /*@editable*/line-height:125% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Heading 2
         @tip Make the second-level headings larger in size for better readability on small screens.
         */
         h2{
         /*@editable*/font-size:20px !important;
         /*@editable*/line-height:125% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Heading 3
         @tip Make the third-level headings larger in size for better readability on small screens.
         */
         h3{
         /*@editable*/font-size:18px !important;
         /*@editable*/line-height:125% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Heading 4
         @tip Make the fourth-level headings larger in size for better readability on small screens.
         */
         h4{
         /*@editable*/font-size:16px !important;
         /*@editable*/line-height:150% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Boxed Text
         @tip Make the boxed text larger in size for better readability on small screens. We recommend a font size of at least 16px.
         */
         .mcnBoxedTextContentContainer .mcnTextContent,.mcnBoxedTextContentContainer .mcnTextContent p{
         /*@editable*/font-size:14px !important;
         /*@editable*/line-height:150% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Preheader Visibility
         @tip Set the visibility of the email's preheader on small screens. You can hide it to save space.
         */
         #templatePreheader{
         /*@editable*/display:block !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Preheader Text
         @tip Make the preheader text larger in size for better readability on small screens.
         */
         #templatePreheader .mcnTextContent,#templatePreheader .mcnTextContent p{
         /*@editable*/font-size:14px !important;
         /*@editable*/line-height:150% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Header Text
         @tip Make the header text larger in size for better readability on small screens.
         */
         #templateHeader .mcnTextContent,#templateHeader .mcnTextContent p{
         /*@editable*/font-size:16px !important;
         /*@editable*/line-height:150% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Upper Body Text
         @tip Make the upper body text larger in size for better readability on small screens. We recommend a font size of at least 16px.
         */
         #templateUpperBody .mcnTextContent,#templateUpperBody .mcnTextContent p{
         /*@editable*/font-size:16px !important;
         /*@editable*/line-height:150% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Column Text
         @tip Make the column text larger in size for better readability on small screens. We recommend a font size of at least 16px.
         */
         #templateColumns .columnContainer .mcnTextContent,#templateColumns .columnContainer .mcnTextContent p{
         /*@editable*/font-size:16px !important;
         /*@editable*/line-height:150% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Lower Body Text
         @tip Make the lower body text larger in size for better readability on small screens. We recommend a font size of at least 16px.
         */
         #templateLowerBody .mcnTextContent,#templateLowerBody .mcnTextContent p{
         /*@editable*/font-size:16px !important;
         /*@editable*/line-height:150% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Footer Text
         @tip Make the footer content text larger in size for better readability on small screens.
         */
         #templateFooter .mcnTextContent,#templateFooter .mcnTextContent p{
         /*@editable*/font-size:14px !important;
         /*@editable*/line-height:150% !important;
         }
         }
      </style>
   </head>
   <body>
      <!--*|IF:MC_PREVIEW_TEXT|*-->
      <!--[if !gte mso 9]><!----><span class="mcnPreviewText" style="display:none; font-size:0px; line-height:0px; max-height:0px; max-width:0px; opacity:0; overflow:hidden; visibility:hidden; mso-hide:all;"></span><!--<![endif]-->
      <!--*|END:IF|*-->
      <center>
        

         <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" class="templateContainer">
            <tr class="bordatr">
               <td class="mcnImageContent" width="80" valign="top" style="width:80px !important; padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center; border: 1px solid;">
                  <table border="0" cellpadding="0" cellspacing="0" width="80" class="mcnBoxedTextBlock" style="min-width:80px;">                   
                     <tbody class="mcnBoxedTextBlockOuter">
                        <tr>
                           <td>
                              <img align="center" alt="" src="./wp-content/themes/base10layout/templates/imagens/<?php echo $syndicate_doc; ?>.jpg" width="80" style="max-width:80px; width:80px !important; padding-bottom: 0; vertical-align: top; float: left; margin-right: 10px">
                           </td>
                        </tr>
                     </tbody>
                  </table>

                  <table border="0" cellpadding="0" cellspacing="0" width="720" class="mcnBoxedTextBlock" style="min-width:720px;">                   
                     <tbody class="mcnBoxedTextBlockOuter">
                        <tr>
                           <td>
                              <span style="max-width:700px; width:700px !important; color: #000; text-align: center; font-size: 14px; padding: 0px 0px 5px 10px;color: #000;font-style: normal;font-weight: bold; float: left; margin: 0;">SINTHORESDO/MS</span>
                              <br>

                              <span style="max-width:700px; width:700px !important; color: #000; text-align: center; font-size: 12px; padding: 0px 0px 5px 10px;color: #000;font-style: normal;font-weight: normal; float: left; margin: 0;">Sind.Emp.Com.Hot.Bares,Rest., Tur e Hosp. de Dourados, Caarapó, Rio Brilhante, Glória de Dourados, Angélica, Ponta Pora, Itapora, Deodápolis, Fátima do Sul; Matriz Rua Ediberto Celestino de Oliveira, 1155 - Vila Santo André - CEP 79.810-130 - Dourados/MS - Fone: (67) 3032-0010 Celular: (67) 99675-0573 Site: www.sinthoresdo.com.br - Email: sinthoresdo@sinthoresdo.com.br/sinthoresdo@outlook.com</span>
                           </td>
                        </tr>
                     </tbody>
                  </table>

               </td>
            </tr>

             <tr class="bordatr">
               <td class="mcnImageContent" width="100%" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:justify; border: 1px solid;">
                  <!--img align="center" alt="" src="./wp-content/themes/base10layout/templates/imagens/<?php echo $syndicate_doc; ?>.png" width="80" style="max-width:80px; width:80px !important; padding-bottom: 0; vertical-align: bottom; float: left;" -->
                  

                  <p style="max-width:820px; width:820px !important; color: #000; font-size: 11px !important; padding: 0px 0px 0px 5px;color: #000;font-style: normal;font-weight: normal;text-align: justify; float: left;">O abaixo assinado, membro desta categoria e no uso de seus direitos, nos termos dos Artigos 513, alínea 'e' 545, ambos da Consolidação das Leis do Trabalho (CLT), bem como o Artigo 8º, Inciso IV, da Constituição Federal/88, REQUER da entidade sua inscrição como associado(a) / filiado(a). Para tanto, cede o direito de uso de sua imagem capturada em eventos e atividades da entidade, bem como, autoriza expressamente a empresa a descontar de seu salário, as contribuições sindicais devidas ao SINTHORESDO/MS, na forma e valor estabelecido por suas Assembléias Gerais regulares e inseridas em Convenção Coletiva de Trabalho (CCT), Acordo Coletivo de Trabalho (ACT), e/ou instruções Normativas, Sentenças Judiciais, em especial a Contribuição Sindical Urbana Anual, devendo o(s) valore(s) descontado(s) ser(em) repassados aos cofres da entidade. Declaro ainda, solicitação de desligamento da entidade. Declaro também, que as informações por mim prestadas neste documento são verdadeiras, não havendo a omissão de nenhuma informação que possa influenciar em decisões que a entidade necessite tomar acerca do presente requerimento. Li e aceito os termos e condições do presente requerimento.</p>

               </td>
            </tr>
            
            <tr class="bordatr">
               <td valign="top" id="templateUpperBody">
                  
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock" style="min-width:100%;">
                   
                     <tbody class="mcnBoxedTextBlockOuter">
                        <tr>
                           <td valign="top" class="mcnBoxedTextBlockInner" style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;background-color: transparent !important">
                              
                              <span valign="top" class="mcnTextContent" style="padding: 0px;color: #000;font-size: 15px;font-weight: normal;line-height: 100%;text-align: left;width: 100%;float: left;color: #000;">
                                 <strong>REQUERIMENTO DE ASSOCIAÇÃO / FILIAÇÃO</strong>
                     
                              </span>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
            <tr class="bordatr">
               <td>                                   
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                     <tbody class="mcnTextBlockOuter">
                        
                        <tr>
                           <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">                                                
                              <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100.26%; min-width:100.26%;" width="100.26%" class="mcnTextContentContainer">
                                 <tbody>
                           
                                    <tr>
                                       <td valign="center" width="100%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 23%;float: left;"><strong>Nome:</strong></span>
                                          <span style="width: 77%;float: left;height: 17px;"> <?php echo $nome; ?></span>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>                                                         

                              <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100.26%; min-width:100.26%;" width="100.26%" class="mcnTextContentContainer">
                                 <tbody>
                                    <tr>
                                       <td valign="center" width="25%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 20%;float: left;"><strong>CPF:</strong></span>
                                          <span style="width: 80%;float: left;height: 17px;"><?php echo $cpf; ?></span>
                                       </td>

                                       <td valign="center" width="25%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 20%;float: left;"><strong>RG:</strong></span>
                                          <span style="width: 80%;float: left;height: 17px;"><?php echo $rg; ?></span> 
                                       </td>

                                       <td valign="center" width="25%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 20%;float: left;"><strong>CNH:</strong></span>
                                          <span style="width: 80%;float: left;height: 17px;"><?php echo $cnh; ?></span>
                                       </td>

                                       <td valign="center" width="25%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 20%;float: left;"><strong>CAT:</strong></span>
                                          <span style="width: 80%;float: left;height: 17px;"><?php echo $cnh_cat; ?></span>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>

                              <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100.26%; min-width:100.26%;" width="100.26%" class="mcnTextContentContainer">
                                 <tbody>
                                    <tr>
                                      
                                       <td valign="center" width="33%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 39%;float: left;"><strong>Escolaridade:</strong></span>
                                          <span style="width: 61%;float: left;height: 17px;"><?php echo $escolaridade; ?></span>
                                       </td>
                                        <td valign="center" width="33%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 47%;float: left;"><strong>Telefone:</strong></span>
                                          <span style="width: 53%;float: left;height: 17px;"><?php echo $telefone; ?></span>
                                       </td>
                                       <td valign="center" width="33%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 30%;float: left;"><strong>Celular:</strong></span>
                                          <span style="width: 70%;float: left;height: 17px;"><?php echo $celular; ?></span>
                                       </td> 
                                    </tr>
                                 </tbody>
                              </table>   

                              <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100.26%; min-width:100.26%;" width="100.26%" class="mcnTextContentContainer">
                                 <tbody>
                                    <tr>
                                      
                                       <td valign="center" width="20%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 32%;float: left;"><strong>Sexo:</strong></span>
                                          <span style="width: 68%;float: left;height: 17px;"><?php echo $sexo; ?></span>
                                       </td>
                                        <td valign="center" width="40%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 47%;float: left;"><strong>Data de Nascto:</strong></span>
                                          <span style="width: 53%;float: left;height: 17px;"><?php echo $dtnasc; ?></span>
                                       </td>
                                       <td valign="center" width="40%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 30%;float: left;"><strong>Estado Civil:</strong></span>
                                          <span style="width: 70%;float: left;height: 17px;"><?php echo $estadocivil; ?></span>
                                       </td> 
                                    </tr>
                                 </tbody>
                              </table>                                                         

                              <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100.26%; min-width:100.26%;" width="100.26%" class="mcnTextContentContainer">
                                 <tbody>
                                    <tr>
                                       <td valign="center" width="100%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 9%;float: left;"><strong>Endereço:</strong></span>
                                          <span style="width: 91%;float: left;height: 17px;"><?php echo $logradouro; ?></span>
                                       </td>
                                       
                                    </tr>
                                 </tbody>
                              </table>  

                              <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100.26%; min-width:100.26%;" width="100.26%" class="mcnTextContentContainer">
                                 <tbody>
                                    <tr>
                                       
                                       <td valign="center" width="30%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 20%;float: left;"><strong>Bairro:</strong></span>
                                          <span style="width: 80%;float: left;height: 17px;"><?php echo $bairro; ?></span>
                                       </td>
                                       <td valign="center" width="30%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 23%;float: left;"><strong>Cidade:</strong></span>
                                          <span style="width: 77%;float: left;height: 17px;"><?php echo $cidade; ?></span>
                                       </td>
                                       <td valign="center" width="20%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 40%;float: left;"><strong>UF:</strong></span>
                                          <span style="width: 60%;float: left;height: 17px;"><?php echo $uf; ?></span>
                                       </td>

                                       <td valign="center" width="20%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 30%;float: left;"><strong>CEP:</strong></span>
                                          <span style="width: 70%;float: left;height: 17px;"><?php echo $cep; ?></span>
                                       </td>

                                    </tr>
                                 </tbody>
                              </table>

                              <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100.26%; min-width:100.26%;" width="100.26%" class="mcnTextContentContainer">
                                 <tbody>
                                    <tr>
                                       

                                        <td valign="center" width="38%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 30%;float: left;"><strong>Email:</strong></span>
                                          <span style="width: 70%;float: left;height: 17px;"><?php echo $email; ?></span>
                                       </td>
                                        <td valign="center" width="28%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 40%;float: left;"><strong>Naturalidade:</strong></span>
                                          <span style="width: 60%;float: left;height: 17px;"><?php echo $cidnascimento; ?></span>
                                       </td>
                                       <td valign="center" width="33%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 44%;float: left;"><strong>Nacionalidade:</strong></span>
                                          <span style="width: 56%;float: left;height: 17px;"><?php echo $nacionalidade; ?></span>
                                       </td>                                                               

                                    </tr>
                                 </tbody>
                              </table>

                              <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100.26%; min-width:100.26%;" width="100.26%" class="mcnTextContentContainer">
                                 <tbody>
                                    <tr>
                                       <td valign="center" width="100%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 23%;float: left;"><strong>Nome do Pai:</strong></span>
                                          <span style="width: 77%;float: left;height: 17px;"> <?php echo $nome_pai; ?></span>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>     

                              <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100.26%; min-width:100.26%;" width="100.26%" class="mcnTextContentContainer">
                                 <tbody>
                                    <tr>
                                       <td valign="center" width="100%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 23%;float: left;"><strong>Nome da Mãe:</strong></span>
                                          <span style="width: 77%;float: left;height: 17px;"> <?php echo $nome_mae; ?></span>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>  
                           </td>
                        </tr>

                        <tr style="margin-bottom: 9px;" class="bordatr">
                           <td valign="top" class="mcnBoxedTextBlockInner" style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;background-color: transparent !important; text-align: left;">
                     
                              <span valign="top" class="mcnTextContent" style="padding: 0px;color: #000;font-size: 15px;font-weight: normal;line-height: 100%;text-align: left;width: 100%;float: left;color: #000;">
                                 <strong>EMPRESA ONDE TRABALHA</strong>
                     
                              </span>
                           </td>
                        </tr>

                        <tr>
                           <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                              <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100.26%; min-width:100.26%;" width="100.26%" class="mcnTextContentContainer">
                                 <tbody>
                                    <tr>
                                       <td valign="top" width="61%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 30%;float: left;"><strong>Empresa:</strong></span>
                                          <span style="width: 70%;float: left;height: 17px;"> <?php echo $employer_name; ?></span>
                                       </td>
                                       <td valign="top" width="39%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 15%;float: left;"><strong>CNPJ:</strong></span>
                                          <span style="width: 85%;float: left;height: 17px;"> <?php echo $employer_doc; ?></span>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>

                              <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100.26%; min-width:100.26%;" width="100.26%" class="mcnTextContentContainer">
                                 <tbody>
                                    <tr>
                                       <td valign="top" width="100%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 9%;float: left;"><strong>Endereço:</strong></span>
                                          <span style="width: 91%;float: left;height: 17px;"><?php echo $employer_street; echo $employer_number; echo $employer_complement; ?></span>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>

                              <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100.26%; min-width:100.26%;" width="100.26%" class="mcnTextContentContainer">
                                 <tbody>
                                    <tr>
                                       
                                       <td valign="top" width="30%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 20%;float: left;"><strong>Bairro:</strong></span>
                                          <span style="width: 80%;float: left;height: 17px;"><?php echo $employer_neighborhood; ?></span>
                                       </td>
                                       <td valign="top" width="30%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 23%;float: left;"><strong>Cidade:</strong></span>
                                          <span style="width: 77%;float: left;height: 17px;"><?php echo $employer_city; ?></span>
                                       </td>
                                       <td valign="top" width="10%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 43%;float: left;"><strong>UF:</strong></span>
                                          <span style="width: 57%;float: left;height: 17px;"><?php echo $employer_uf; ?></span>
                                       </td>

                                       <td valign="top" width="20%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 30%;float: left;"><strong>CEP:</strong></span>
                                          <span style="width: 70%;float: left;height: 17px;"><?php echo $employer_cep; ?></span>
                                       </td>

                                    </tr>
                                 </tbody>
                              </table>

                              <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100.26%; min-width:100.26%;" width="100.26%" class="mcnTextContentContainer">
                                 <tbody>
                                    <tr>
                                       
                                       <td valign="top" width="30%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 30%;float: left;"><strong>Função:</strong></span>
                                          <span style="width: 70%;float: left;height: 17px;"><?php echo $cargo; ?></span>
                                       </td>

                                       <td valign="top" width="40%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 38%;float: left;"><strong>Local Trabalho:</strong></span>
                                          <span style="width: 62%;float: left;height: 17px;"><?php echo $localtrab; ?></span>
                                       </td>

                                       <td valign="top" width="30%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 52%;float: left;"><strong>Data Admissão:</strong></span>
                                          <span style="width: 48%;float: left;height: 17px;"><?php echo date("d/m/Y",strtotime($dataadmissao)); ?></span>
                                       </td>                                                                 

                                    </tr>
                                 </tbody>
                              </table>

                              <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100.26%; min-width:100.26%;" width="100.26%" class="mcnTextContentContainer">
                                 <tbody>
                                    <tr>
                                       
                                       <td valign="top" width="25%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 25%;float: left;"><strong>CTPS:</strong></span>
                                          <span style="width: 75%;float: left;height: 17px;"><?php echo $ctps; ?></span>
                                       </td>
                                       <td valign="top" width="21%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 25%;float: left;"><strong>Série:</strong></span>
                                          <span style="width: 75%;float: left;height: 17px;"><?php echo $ctps_serie; ?></span>
                                       </td>
                                       <td valign="top" width="29%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 52%;float: left;"><strong>Dt Emissão:</strong></span>
                                          <span style="width: 48%;float: left;height: 17px;"><?php echo date("d/m/Y",strtotime($ctps_emissao)); ?></span>
                                       </td>

                                       <td valign="top" width="25%" class="mcnTextContent bordatrinterna" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: left;">
                                          <span style="width: 35%;float: left;"><strong>PIS:</strong></span>
                                          <span style="width: 65%;float: left;height: 17px;"><?php echo $pis; ?></span>
                                       </td>

                                    </tr>
                                 </tbody>
                              </table>

                           </td>
                        </tr>

                        <tr style="margin-bottom: 9px;" class="bordatr">
                           <td valign="top" class="mcnBoxedTextBlockInner" style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;background-color: transparent !important; text-align: left;">
                     
                              <span valign="top" class="mcnTextContent" style="padding: 0px;color: #000;font-size: 15px;font-weight: normal;line-height: 100%;text-align: left;width: 100%;float: left;color: #000;">
                                 <strong>DEPENDENTES</strong>
                     
                              </span>
                           </td>
                        </tr>
                        <tr>
                           <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">

                              <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100.26%; min-width:100.26%; margin-left: -1px;" width="100.26%" class="mcnTextContentContainer">
                                 <tbody>
                                    <tr class="bordatr">
                                       
                                       <td valign="top" width="300" class="mcnTextContent" style="padding: 0px 18px 0px;color: #000;font-size: 12px;text-align: left; width: 300px;">
                                          <span style="width: 100%;float: left; font-weight: bold;font-size: 12px;"><strong>NOME</strong></span>
                                       </td>
                                       <td valign="top" width="125" class="mcnTextContent" style="padding: 0px 18px 0px;color: #000;font-size: 12px;text-align: left; width: 125px;">
                                          <span style="width: 100%;float: left; font-weight: bold;font-size: 12px;"><strong>SEXO</strong></span>
                                       </td>
                                       <td valign="top" width="100" class="mcnTextContent" style="padding: 0px 18px 0px;color: #000;font-size: 12px;text-align: left; width: 100px;">
                                          <span style="width: 100%;float: left; font-weight: bold;font-size: 12px;"><strong>DT NASCTO</strong></span>
                                       </td>

                                       <td valign="top" width="100" class="mcnTextContent" style="padding: 0px 18px 0px;color: #000;font-size: 12px;text-align: left; width: 100px;">
                                          <span style="width: 100%;float: left; font-weight: bold;font-size: 12px;"><strong>PARENTESCO</strong></span>
                                       </td>

                                    </tr>
                                 </tbody>
                              </table>
                              <?php if(count($dependenteNome) > 0 ) { ?>
                              <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100.26%; min-width:100.26%; margin-bottom: 20px;margin-left: -1px" width="100.26%" class="mcnTextContentContainer">
                                 <tbody>
                                       <?php
                                             $cont = 0;
                                             foreach ($dependenteNome as $_dependenteNome) {
                                                 $_dependenteDataNascimento = date("d/m/Y",strtotime($dependenteDataNascimento[$cont]));
                                                 ?>
                                                  <tr class="bordatr">

                                                   <td valign="top" width="294" class="mcnTextContent" style="padding: 0px 18px 0px;color: #000;font-size: 12px;text-align: left; width: 294px;">
                                                      <span style="width: 100%;float: left; font-size: 12px;"><?php echo $_dependenteNome; ?></span>
                                                   </td>
                                                   <td valign="top" width="117" class="mcnTextContent" style="padding: 0px 18px 0px;color: #000;font-size: 12px;text-align: left; width: 117px;">
                                                      <span style="width: 100%;float: left; font-size: 12px;"><?php echo $dependenteSexo[$cont]; ?></span>
                                                   </td>
                                                   <td valign="top" width="100" class="mcnTextContent" style="padding: 0px 18px 0px;color: #000;font-size: 12px;text-align: left; width: 100px;">
                                                      <span style="width: 100%;float: left; font-size: 12px;"><?php echo $_dependenteDataNascimento; ?></span>
                                                   </td>

                                                   <td valign="top" width="100" class="mcnTextContent" style="padding: 0px 18px 0px;color: #000;font-size: 12px;text-align: left; width: 100px;">
                                                      <span style="width: 100%;float: left; font-size: 12px;"><?php echo $dependenteParentesco[$cont]; ?></span>
                                                   </td>
                                                    </tr>

                                                <?php
                                                   $cont++;
                                                   }                     
                                                ?>
                                       
                                       

                                   
                                 </tbody>
                              </table>  

                              <?php } ?>

                              <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%; margin-top: 20px;" width="100%" class="mcnTextContentContainer">
                                 <tbody>
                                    
                                    
                                    <tr>

                                       <td valign="top" width="100%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #000;font-size: 14px;text-align: left;">
                                          DOURADOS, MS <?php echo date("d/m/Y"); ?>.
                                          <br>
                                          <br>
                                       </td>
                                    </tr>

                                    <tr>

                                       <td valign="top" width="100%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #000;font-size: 12px;text-align: center;">
                                          
                                          <img align="left" alt="" src="./wp-content/themes/base10layout/templates/imagens/<?php echo $imgName; ?>" width="300" style="max-width:300px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">

                                          <br>

                                          <span style="width: 100%;float: left;text-align: center;"><strong>NOME DO SÓCIO</strong></span>
                                          <br>
                                          
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>

                              
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
         </table>
                           
               
      </center>
   </body>
</html>