<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
   <head>
      <!-- NAME: 1:2:1 COLUMN -->
      <!--[if gte mso 15]>
      <xml>
         <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
         </o:OfficeDocumentSettings>
      </xml>
      <![endif]-->
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>FILIAÇÃO</title>
      <style type="text/css">
         p{
         margin:10px 0;
         padding:0;
         }
         table{
         border-collapse:collapse;
         }
         h1,h2,h3,h4,h5,h6{
         display:block;
         margin:0;
         padding:0;
         }
         img,a img{
         border:0;
         height:auto;
         outline:none;
         text-decoration:none;
         }
         body,#bodyTable,#bodyCell{
         height:100%;
         margin:0;
         padding:0;
         width:100%;
         }
         .mcnPreviewText{
         display:none !important;
         }
         #outlook a{
         padding:0;
         }
         img{
         -ms-interpolation-mode:bicubic;
         }
         table{
         mso-table-lspace:0pt;
         mso-table-rspace:0pt;
         }
         .ReadMsgBody{
         width:100%;
         }
         .ExternalClass{
         width:100%;
         }
         p,a,li,td,blockquote{
         mso-line-height-rule:exactly;
         }
         a[href^=tel],a[href^=sms]{
         color:inherit;
         cursor:default;
         text-decoration:none;
         }
         p,a,li,td,body,table,blockquote{
         -ms-text-size-adjust:100%;
         -webkit-text-size-adjust:100%;
         }
         .ExternalClass,.ExternalClass p,.ExternalClass td,.ExternalClass div,.ExternalClass span,.ExternalClass font{
         line-height:100%;
         }
         a[x-apple-data-detectors]{
         color:inherit !important;
         text-decoration:none !important;
         font-size:inherit !important;
         font-family:inherit !important;
         font-weight:inherit !important;
         line-height:inherit !important;
         }
         #bodyCell{
         padding:10px;
         border-top:5px none #000000;
         }
         .templateContainer{
         max-width:850px !important;
         border:1px solid #e9e9e9;
         }
         a.mcnButton{
         display:block;
         }
         .mcnImage,.mcnRetinaImage{
         vertical-align:bottom;
         }
         .mcnTextContent{
         word-break:break-word;
         }
         .mcnTextContent img{
         height:auto !important;
         }
         .mcnDividerBlock{
         table-layout:fixed !important;
         }
         /*
         @tab Page
         @section Background Style
         @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
         */
         body,#bodyTable{
         /*@editable*/background-color:#f7f7f7;
         }
         /*
         @tab Page
         @section Background Style
         @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
         */
         #bodyCell{
         /*@editable*/border-top:5px none #000000;
         }
         /*
         @tab Page
         @section Email Border
         @tip Set the border for your email.
         */
         .templateContainer{
         /*@editable*/border:1px solid #e9e9e9;
         }
         /*
         @tab Page
         @section Heading 1
         @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
         @style heading 1
         */
         h1{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:36px;
         /*@editable*/font-style:normal;
         /*@editable*/font-weight:bold;
         /*@editable*/line-height:125%;
         /*@editable*/letter-spacing:normal;
         /*@editable*/text-align:left;
         }
         /*
         @tab Page
         @section Heading 2
         @tip Set the styling for all second-level headings in your emails.
         @style heading 2
         */
         h2{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:22px;
         /*@editable*/font-style:normal;
         /*@editable*/font-weight:bold;
         /*@editable*/line-height:125%;
         /*@editable*/letter-spacing:normal;
         /*@editable*/text-align:left;
         }
         /*
         @tab Page
         @section Heading 3
         @tip Set the styling for all third-level headings in your emails.
         @style heading 3
         */
         h3{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:20px;
         /*@editable*/font-style:normal;
         /*@editable*/font-weight:bold;
         /*@editable*/line-height:125%;
         /*@editable*/letter-spacing:normal;
         /*@editable*/text-align:left;
         }
         /*
         @tab Page
         @section Heading 4
         @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
         @style heading 4
         */
         h4{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:18px;
         /*@editable*/font-style:normal;
         /*@editable*/font-weight:bold;
         /*@editable*/line-height:125%;
         /*@editable*/letter-spacing:normal;
         /*@editable*/text-align:left;
         }
         /*
         @tab Preheader
         @section Preheader Style
         @tip Set the background color and borders for your email's preheader area.
         */
         #templatePreheader{
         /*@editable*/background-color:#ffffff;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:1px none ;
         /*@editable*/border-bottom:0;
         /*@editable*/padding-top:20px;
         /*@editable*/padding-bottom:0px;
         }
         /*
         @tab Preheader
         @section Preheader Text
         @tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
         */
         #templatePreheader .mcnTextContent,#templatePreheader .mcnTextContent p{
         /*@editable*/color:#656565;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:12px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:left;
         }
         /*
         @tab Preheader
         @section Preheader Link
         @tip Set the styling for your email's preheader links. Choose a color that helps them stand out from your text.
         */
         #templatePreheader .mcnTextContent a,#templatePreheader .mcnTextContent p a{
         /*@editable*/color:#656565;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         /*
         @tab Header
         @section Header Style
         @tip Set the background color and borders for your email's header area.
         */
         #templateHeader{
         /*@editable*/background-color:#ffffff;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:0;
         /*@editable*/border-bottom:0;
         /*@editable*/padding-top:20px;
         /*@editable*/padding-bottom:0px;
         }
         /*
         @tab Header
         @section Header Text
         @tip Set the styling for your email's header text. Choose a size and color that is easy to read.
         */
         #templateHeader .mcnTextContent,#templateHeader .mcnTextContent p{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:16px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:left;
         }
         /*
         @tab Header
         @section Header Link
         @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
         */
         #templateHeader .mcnTextContent a,#templateHeader .mcnTextContent p a{
         /*@editable*/color:#2BAADF;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         /*
         @tab Upper Body
         @section Upper Body Style
         @tip Set the background color and borders for your email's upper body area.
         */
         #templateUpperBody{
         /*@editable*/background-color:#ffffff;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:0;
         /*@editable*/border-bottom:0;
         /*@editable*/padding-top:20px;
         /*@editable*/padding-bottom:0px;
         }
         /*
         @tab Upper Body
         @section Upper Body Text
         @tip Set the styling for your email's upper body text. Choose a size and color that is easy to read.
         */
         #templateUpperBody .mcnTextContent,#templateUpperBody .mcnTextContent p{
         /*@editable*/color:#202020;
         /*@editable*/font-family:'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
         /*@editable*/font-size:16px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:left;
         }
         /*
         @tab Upper Body
         @section Upper Body Link
         @tip Set the styling for your email's upper body links. Choose a color that helps them stand out from your text.
         */
         #templateUpperBody .mcnTextContent a,#templateUpperBody .mcnTextContent p a{
         /*@editable*/color:#2BAADF;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         /*
         @tab Columns
         @section Column Style
         @tip Set the background color and borders for your email's columns.
         */
         #templateColumns{
         /*@editable*/background-color:#ffffff;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:0;
         /*@editable*/border-bottom:0;
         /*@editable*/padding-top:0;
         /*@editable*/padding-bottom:0;
         }
         /*
         @tab Columns
         @section Column Text
         @tip Set the styling for your email's column text. Choose a size and color that is easy to read.
         */
         #templateColumns .columnContainer .mcnTextContent,#templateColumns .columnContainer .mcnTextContent p{
         /*@editable*/color:#202020;
         /*@editable*/font-family:'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
         /*@editable*/font-size:16px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:left;
         }
         /*
         @tab Columns
         @section Column Link
         @tip Set the styling for your email's column links. Choose a color that helps them stand out from your text.
         */
         #templateColumns .columnContainer .mcnTextContent a,#templateColumns .columnContainer .mcnTextContent p a{
         /*@editable*/color:#2BAADF;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         /*
         @tab Lower Body
         @section Lower Body Style
         @tip Set the background color and borders for your email's lower body area.
         */
         #templateLowerBody{
         /*@editable*/background-color:#ffffff;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:0;
         /*@editable*/border-bottom:2px solid #EAEAEA;
         /*@editable*/padding-top:0;
         /*@editable*/padding-bottom:9px;
         }
         /*
         @tab Lower Body
         @section Lower Body Text
         @tip Set the styling for your email's lower body text. Choose a size and color that is easy to read.
         */
         #templateLowerBody .mcnTextContent,#templateLowerBody .mcnTextContent p{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:16px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:left;
         }
         /*
         @tab Lower Body
         @section Lower Body Link
         @tip Set the styling for your email's lower body links. Choose a color that helps them stand out from your text.
         */
         #templateLowerBody .mcnTextContent a,#templateLowerBody .mcnTextContent p a{
         /*@editable*/color:#2BAADF;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         /*
         @tab Footer
         @section Footer Style
         @tip Set the background color and borders for your email's footer area.
         */
         #templateFooter{
         /*@editable*/background-color:#fafafa;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:0;
         /*@editable*/border-bottom:0;
         /*@editable*/padding-top:9px;
         /*@editable*/padding-bottom:9px;
         }
         /*
         @tab Footer
         @section Footer Text
         @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
         */
         #templateFooter .mcnTextContent,#templateFooter .mcnTextContent p{
         /*@editable*/color:#656565;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:12px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:center;
         }
         /*
         @tab Footer
         @section Footer Link
         @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
         */
         #templateFooter .mcnTextContent a,#templateFooter .mcnTextContent p a{
         /*@editable*/color:#656565;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         @media only screen and (min-width:768px){
         .templateContainer{
         width:850px !important;
         }
         }  @media only screen and (max-width: 480px){
         body,table,td,p,a,li,blockquote{
         -webkit-text-size-adjust:none !important;
         }
         }  @media only screen and (max-width: 480px){
         body{
         width:100% !important;
         min-width:100% !important;
         }
         }  @media only screen and (max-width: 480px){
         #bodyCell{
         padding-top:10px !important;
         }
         }  @media only screen and (max-width: 480px){
         .columnWrapper{
         max-width:100% !important;
         width:100% !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnRetinaImage{
         max-width:100% !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnImage{
         width:100% !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnCartContainer,.mcnCaptionTopContent,.mcnRecContentContainer,.mcnCaptionBottomContent,.mcnTextContentContainer,.mcnBoxedTextContentContainer,.mcnImageGroupContentContainer,.mcnCaptionLeftTextContentContainer,.mcnCaptionRightTextContentContainer,.mcnCaptionLeftImageContentContainer,.mcnCaptionRightImageContentContainer,.mcnImageCardLeftTextContentContainer,.mcnImageCardRightTextContentContainer,.mcnImageCardLeftImageContentContainer,.mcnImageCardRightImageContentContainer{
         max-width:100% !important;
         width:100% !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnBoxedTextContentContainer{
         min-width:100% !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnImageGroupContent{
         padding:9px !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnCaptionLeftContentOuter .mcnTextContent,.mcnCaptionRightContentOuter .mcnTextContent{
         padding-top:9px !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnImageCardTopImageContent,.mcnCaptionBottomContent:last-child .mcnCaptionBottomImageContent,.mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent{
         padding-top:18px !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnImageCardBottomImageContent{
         padding-bottom:9px !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnImageGroupBlockInner{
         padding-top:0 !important;
         padding-bottom:0 !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnImageGroupBlockOuter{
         padding-top:9px !important;
         padding-bottom:9px !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnTextContent,.mcnBoxedTextContentColumn{
         padding-right:18px !important;
         padding-left:18px !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnImageCardLeftImageContent,.mcnImageCardRightImageContent{
         padding-right:18px !important;
         padding-bottom:0 !important;
         padding-left:18px !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcpreview-image-uploader{
         display:none !important;
         width:100% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Heading 1
         @tip Make the first-level headings larger in size for better readability on small screens.
         */
         h1{
         /*@editable*/font-size:22px !important;
         /*@editable*/line-height:125% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Heading 2
         @tip Make the second-level headings larger in size for better readability on small screens.
         */
         h2{
         /*@editable*/font-size:20px !important;
         /*@editable*/line-height:125% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Heading 3
         @tip Make the third-level headings larger in size for better readability on small screens.
         */
         h3{
         /*@editable*/font-size:18px !important;
         /*@editable*/line-height:125% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Heading 4
         @tip Make the fourth-level headings larger in size for better readability on small screens.
         */
         h4{
         /*@editable*/font-size:16px !important;
         /*@editable*/line-height:150% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Boxed Text
         @tip Make the boxed text larger in size for better readability on small screens. We recommend a font size of at least 16px.
         */
         .mcnBoxedTextContentContainer .mcnTextContent,.mcnBoxedTextContentContainer .mcnTextContent p{
         /*@editable*/font-size:14px !important;
         /*@editable*/line-height:150% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Preheader Visibility
         @tip Set the visibility of the email's preheader on small screens. You can hide it to save space.
         */
         #templatePreheader{
         /*@editable*/display:block !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Preheader Text
         @tip Make the preheader text larger in size for better readability on small screens.
         */
         #templatePreheader .mcnTextContent,#templatePreheader .mcnTextContent p{
         /*@editable*/font-size:14px !important;
         /*@editable*/line-height:150% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Header Text
         @tip Make the header text larger in size for better readability on small screens.
         */
         #templateHeader .mcnTextContent,#templateHeader .mcnTextContent p{
         /*@editable*/font-size:16px !important;
         /*@editable*/line-height:150% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Upper Body Text
         @tip Make the upper body text larger in size for better readability on small screens. We recommend a font size of at least 16px.
         */
         #templateUpperBody .mcnTextContent,#templateUpperBody .mcnTextContent p{
         /*@editable*/font-size:16px !important;
         /*@editable*/line-height:150% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Column Text
         @tip Make the column text larger in size for better readability on small screens. We recommend a font size of at least 16px.
         */
         #templateColumns .columnContainer .mcnTextContent,#templateColumns .columnContainer .mcnTextContent p{
         /*@editable*/font-size:16px !important;
         /*@editable*/line-height:150% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Lower Body Text
         @tip Make the lower body text larger in size for better readability on small screens. We recommend a font size of at least 16px.
         */
         #templateLowerBody .mcnTextContent,#templateLowerBody .mcnTextContent p{
         /*@editable*/font-size:16px !important;
         /*@editable*/line-height:150% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Footer Text
         @tip Make the footer content text larger in size for better readability on small screens.
         */
         #templateFooter .mcnTextContent,#templateFooter .mcnTextContent p{
         /*@editable*/font-size:14px !important;
         /*@editable*/line-height:150% !important;
         }
         }
      </style>
   </head>
   <body>
      <!--*|IF:MC_PREVIEW_TEXT|*-->
      <!--[if !gte mso 9]><!----><span class="mcnPreviewText" style="display:none; font-size:0px; line-height:0px; max-height:0px; max-width:0px; opacity:0; overflow:hidden; visibility:hidden; mso-hide:all;"></span><!--<![endif]-->
      <!--*|END:IF|*-->
      <center>
         <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            <tr>
               <td align="center" valign="top" id="bodyCell">

                           <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
                              <tr>
                                 <td valign="top" id="templatePreheader">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="min-width:10%; padding:9px; float: left;">
                                       <tbody class="mcnImageBlockOuter">
                                          <tr>

                                             <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center;">
                                                <img align="center" alt="" src="./wp-content/themes/base10layout/templates/imagens/logoSintra.jpg" width="90" style="max-width:90px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">
                                             </td>

                                             <td valign="top" width="84%" class="mcnTextContent" style="width: 84%; padding: 0px 18px 9px;color: #404040;font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, Verdana, sans-serif;font-style: normal;font-weight: normal;text-align: center;">
                                                <h2 style="color: #000; text-align: center; font-size: 23px;">SINTRA HOTEIS</h2>
                                                <p style="color: #000; text-align: center; font-size: 13px;    font-weight: bold;">SIND. INTERMUNICIPAL DOS TRABALHADORES EM HOTÉIS, MOTÉIS, COZ. INDUSTRIAIS, BARES, RESTAURANTES E SIMILARES NO ESTADO DO ESPIRITO SANTO</p>
                                                

                                             </td>

                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                              
                              <tr>
                                 <td valign="top" id="templateUpperBody">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock" style="min-width:100%;">
                                     
                                       <tbody class="mcnBoxedTextBlockOuter">
                                          <tr>
                                             <td valign="top" class="mcnBoxedTextBlockInner" style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;">
                                                
                                                <span valign="top" class="mcnTextContent" style="padding: 0px;color: #404040;font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;font-size: 19px;font-weight: normal;line-height: 100%;text-align: center;">
                                                   <strong>PROPOSTA E AUTORIZAÇÃO DE SÓCIO</strong>
                                       
                                                </span>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                              <tr>
                                 <td>                                   
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                                       <tbody class="mcnTextBlockOuter">
                                          <tr style="margin-bottom: 9px;">
                                             <td class="mcnDividerBlockInner" style="width: 100%; float: left; min-width: 100%; text-align: left;   padding: 1px 0px;border-top: 2px solid #000;border-bottom: 2px solid #000; margin-bottom: 9px;">
                                              <span style="width: 100%; float: left; font-weight: bold;font-size: 13px;padding: 0 19px; ">DADOS PESSOAIS</span>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">                                                
                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" width="100%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 23%;float: left;"><strong>Nome do(a) Funcionário(a):</strong></span>
                                                                     <span style="width: 77%;float: left;height: 17px;"> <?php echo $nome; ?></span>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>                                                         

                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" width="33%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 15%;float: left;"><strong>CPF:</strong></span>
                                                                     <span style="width: 85%;float: left;height: 17px;"><?php echo $cpf; ?></span>
                                                                  </td>

                                                                  <td valign="top" width="33%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 15%;float: left;"><strong>RG:</strong></span>
                                                                     <span style="width: 85%;float: left;height: 17px;"><?php echo $rg; ?></span> 
                                                                  </td>

                                                                  <td valign="top" width="33%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 17%;float: left;"><strong>CTPS:</strong></span>
                                                                     <span style="width: 83%;float: left;height: 17px;"><?php echo $ctps; ?></span>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>

                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                 
                                                                  <td valign="top" width="20%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 30%;float: left;"><strong>Sexo:</strong></span>
                                                                     <span style="width: 70%;float: left;height: 17px;"><?php echo $sexo; ?></span>
                                                                  </td>
                                                                   <td valign="top" width="40%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 47%;float: left;"><strong>Data de Nascimento:</strong></span>
                                                                     <span style="width: 53%;float: left;height: 17px;"><?php echo $dtnasc; ?></span>
                                                                  </td>
                                                                  <td valign="top" width="40%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 31%;float: left;"><strong>Naturalidade:</strong></span>
                                                                     <span style="width: 69%;float: left;height: 17px;"><?php echo $cidnascimento; ?></span>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>                                                         

                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" width="100%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 9%;float: left;"><strong>Endereço:</strong></span>
                                                                     <span style="width: 91%;float: left;height: 17px;"><?php echo $logradouro; ?></span>
                                                                  </td>
                                                                  
                                                               </tr>
                                                            </tbody>
                                                         </table>  

                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  
                                                                  <td valign="top" width="30%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 20%;float: left;"><strong>Bairro:</strong></span>
                                                                     <span style="width: 80%;float: left;height: 17px;"><?php echo $bairro; ?></span>
                                                                  </td>
                                                                  <td valign="top" width="30%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 22%;float: left;"><strong>Cidade:</strong></span>
                                                                     <span style="width: 78%;float: left;height: 17px;"><?php echo $cidade; ?></span>
                                                                  </td>
                                                                  <td valign="top" width="10%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 41%;float: left;"><strong>UF:</strong></span>
                                                                     <span style="width: 59%;float: left;height: 17px;"><?php echo $uf; ?></span>
                                                                  </td>

                                                                  <td valign="top" width="20%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 30%;float: left;"><strong>CEP:</strong></span>
                                                                     <span style="width: 70%;float: left;height: 17px;"><?php echo $cep; ?></span>
                                                                  </td>

                                                               </tr>
                                                            </tbody>
                                                         </table>

                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  
                                                                  <td valign="top" width="61%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 10%;float: left;"><strong>Email:</strong></span>
                                                                     <span style="width: 90%;float: left;height: 17px;"><?php echo $email; ?></span>
                                                                  </td>
                                                                  <td valign="top" width="39%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 30%;float: left;"><strong>Estado Civil:</strong></span>
                                                                     <span style="width: 70%;float: left;height: 17px;"><?php echo $estadocivil; ?></span>
                                                                  </td>                                                                 

                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                      </td>
                                                   </tr>

                                                   <tr style="margin-bottom: 9px;">
                                                      <td class="mcnDividerBlockInner" style="width: 100%; float: left; min-width: 100%; text-align: left;   padding: 1px 0px;border-top: 2px solid #000;border-bottom: 2px solid #000; margin-bottom: 9px;">
                                                       <span style="width: 100%; float: left; font-weight: bold;font-size: 13px;padding: 0 19px; ">DADOS FUNCIONAIS</span>
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">                                                         

                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" width="100%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 6%;float: left;"><strong>CNPJ:</strong></span>
                                                                     <span style="width: 94%;float: left;height: 17px;"> <?php echo $employer_doc; ?></span>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>

                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" width="100%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 12%;float: left;"><strong>Razão Social:</strong></span>
                                                                     <span style="width: 88%;float: left;height: 17px;"> <?php echo $employer_name; ?></span>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>

                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" width="100%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 9%;float: left;"><strong>Endereço:</strong></span>
                                                                     <span style="width: 91%;float: left;height: 17px;"><?php echo $employer_street; echo $employer_number; echo $employer_complement; ?></span>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>

                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  
                                                                  <td valign="top" width="30%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 20%;float: left;"><strong>Bairro:</strong></span>
                                                                     <span style="width: 80%;float: left;height: 17px;"><?php echo $employer_neighborhood; ?></span>
                                                                  </td>
                                                                  <td valign="top" width="30%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 22%;float: left;"><strong>Cidade:</strong></span>
                                                                     <span style="width: 78%;float: left;height: 17px;"><?php echo $employer_city; ?></span>
                                                                  </td>
                                                                  <td valign="top" width="10%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 41%;float: left;"><strong>UF:</strong></span>
                                                                     <span style="width: 59%;float: left;height: 17px;"><?php echo $employer_uf; ?></span>
                                                                  </td>

                                                                  <td valign="top" width="20%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 30%;float: left;"><strong>CEP:</strong></span>
                                                                     <span style="width: 70%;float: left;height: 17px;"><?php echo $employer_cep; ?></span>
                                                                  </td>

                                                               </tr>
                                                            </tbody>
                                                         </table>

                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" width="100%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 8%;float: left;"><strong>Telefone:</strong></span>
                                                                     <span style="width: 92%;float: left;height: 17px;"> <?php echo $telefone; ?></span>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>

                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  
                                                                  <td valign="top" width="61%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 21%;float: left;"><strong>Cargo/Função:</strong></span>
                                                                     <span style="width: 79%;float: left;height: 17px;"><?php echo $cargo; ?></span>
                                                                  </td>
                                                                  <td valign="top" width="39%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 43%;float: left;"><strong>Data de Admissão:</strong></span>
                                                                     <span style="width: 57%;float: left;height: 17px;"><?php echo date("d/m/Y",strtotime($dataadmissao)); ?></span>
                                                                  </td>                                                                 

                                                               </tr>
                                                            </tbody>
                                                         </table>

                                                      </td>
                                                   </tr>

                                                   <tr style="margin-bottom: 9px;">
                                                      <td class="mcnDividerBlockInner" style="width: 100%; float: left; min-width: 100%; text-align: left;   padding: 1px 0px;border-top: 2px solid #000;border-bottom: 2px solid #000; margin-bottom: 9px;">
                                                       <span style="width: 100%; float: left; font-weight: bold;font-size: 13px;padding: 0 19px; ">DEPENDENTES</span>
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">

                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  
                                                                  <td valign="top" width="45%" class="mcnTextContent" style="padding: 0px 18px 0px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left; font-weight: bold;font-size: 12px;"><strong>NOME</strong></span>
                                                                  </td>
                                                                  <td valign="top" width="10%" class="mcnTextContent" style="padding: 0px 18px 0px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left; font-weight: bold;font-size: 12px;"><strong>SEXO</strong></span>
                                                                  </td>
                                                                  <td valign="top" width="20%" class="mcnTextContent" style="padding: 0px 18px 0px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left; font-weight: bold;font-size: 12px;"><strong>DATA NASCIMENTO</strong></span>
                                                                  </td>

                                                                  <td valign="top" width="25%" class="mcnTextContent" style="padding: 0px 18px 0px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left; font-weight: bold;font-size: 12px;"><strong>GRAU DE PARENTESCO</strong></span>
                                                                  </td>

                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                         <?php if (count($dependenteNome) > 0 ) { ?> 
                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%; margin-bottom: 20px" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                              

                                                                  <?php
                                                                        $cont = 0;
                                                                        foreach ($dependenteNome as $_dependenteNome) {
                                                                            $_dependenteDataNascimento = date("d/m/Y",strtotime($dependenteDataNascimento[$cont]));
                                                                            ?>
                                                                             <tr>

                                                                              <td valign="top" width="45%" class="mcnTextContent" style="padding: 0px 18px 0px;color: #404040;font-size: 13px;text-align: left;">
                                                                                 <span style="width: 100%;float: left; font-size: 12px;"><?php echo $_dependenteNome; ?></span>
                                                                              </td>
                                                                              <td valign="top" width="10%" class="mcnTextContent" style="padding: 0px 18px 0px;color: #404040;font-size: 13px;text-align: left;">
                                                                                 <span style="width: 100%;float: left; font-size: 12px;"><?php echo $dependenteSexo[$cont]; ?></span>
                                                                              </td>
                                                                              <td valign="top" width="20%" class="mcnTextContent" style="padding: 0px 18px 0px;color: #404040;font-size: 13px;text-align: left;">
                                                                                 <span style="width: 100%;float: left; font-size: 12px;"><?php echo $_dependenteDataNascimento; ?></span>
                                                                              </td>

                                                                              <td valign="top" width="25%" class="mcnTextContent" style="padding: 0px 18px 0px;color: #404040;font-size: 13px;text-align: left;">
                                                                                 <span style="width: 100%;float: left; font-size: 12px;"><?php echo $dependenteParentesco[$cont]; ?></span>
                                                                              </td>
                                                                               </tr>

                                                                           <?php
                                                                              $cont++;
                                                                              }                     
                                                                           ?>
                                                                  
                                                                  

                                                              
                                                            </tbody>
                                                         </table>  

                                                         <?php } ?>

                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" width="65%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #000;font-size: 10px;text-align: left;">
                                                                     
                                                                     <span style="width: 100%;float: left;text-align: left;">
                                                                        <?php if($autorizaPagamento == 'Não') echo 'Não autorizo'; else echo 'Autorizo' ?> o desconto em folha do pagamento da minha mensalidade como associado do SIND TRAB HOTÉIS, MOT, BARES, REST, COZIND DO ES
                                                                     </span>
                                                                  </td>

                                                                  <td valign="top" width="35%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: center;">
                                                                     Vitória <?php echo date("d/m/Y"); ?>

                                                                     <br>
                                                                     <img align="left" alt="" src="./wp-content/themes/base10layout/templates/imagens/<?php echo $imgName; ?>" width="300" style="max-width:300px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">

                                                                     <br>

                                                                     <span style="width: 100%;float: left;text-align: center;"><strong>Assinatura do Sócio</strong></span>
                                                                     <br>
                                                                     
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>

                                                         
                                                      </td>
                                                   </tr>

                                                   <tr style="margin-bottom: 9px;">
                                                      <td class="mcnDividerBlockInner" style="width: 100%; float: left; min-width: 100%; text-align: left;   padding: 1px 0px; margin-bottom: 9px;">
                                                       <span style="width: 100%; float: left; margin-top: 40px; margin-bottom: 15px; border-top: 3px dotted #000;"></span>
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">

                                                         <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="min-width:10%; padding:9px; float: left;">
                                                            <tbody class="mcnImageBlockOuter">
                                                               <tr>

                                                                  <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center;">
                                                                     <img align="center" alt="" src="./wp-content/themes/base10layout/templates/imagens/logoSintra.jpg" width="90" style="max-width:90px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">
                                                                  </td>

                                                                  <td valign="top" width="84%" class="mcnTextContent" style="width: 84%; padding: 0px 18px 9px;color: #404040;font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, Verdana, sans-serif;font-style: normal;font-weight: normal;text-align: center;">
                                                                     <h2 style="color: #000; text-align: center; font-size: 23px;">SINTRA HOTEIS</h2>
                                                                     <p style="color: #000; text-align: center; font-size: 13px;    font-weight: bold;">SIND. INTERMUNICIPAL DOS TRABALHADORES EM HOTÉIS, MOTÉIS, COZ. INDUSTRIAIS, BARES, RESTAURANTES E SIMILARES NO ESTADO DO ESPIRITO SANTO</p>
                                                                     

                                                                  </td>

                                                               </tr>
                                                            </tbody>
                                                         </table>

                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" width="17%" class="mcnTextContent" style="padding: 0px 0px 9px 18px;color: #404040;font-size: 13px;text-align: left; height: 50px;border: 1px solid #000;">
                                                                     <span style="width: 98%;float: left; text-align: center; font-size: 11px; height: 50px;"><strong>MATRÍCULA SINDICAL</strong></span>
                                                                  </td>

                                                                  <td valign="top" width="83%" class="mcnTextContent" style="padding: 0px 0px 9px;color: #404040;font-size: 13px;text-align: left;">                                                                   

                                                                     <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                                        <tbody>
                                                                           <tr>
                                                                              <td valign="top" width="100%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                                 <span style="width: 28%;float: left;"><strong>Nome do(a) Funcionário(a):</strong></span>
                                                                                 <span style="width: 72%;float: left;height: 17px;"> <?php echo $nome; ?></span>
                                                                              </td>
                                                                           </tr>
                                                                           <tr>

                                                                              <td valign="top" width="100%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                                 <span style="width: 7%;float: left;"><strong>CNPJ:</strong></span>
                                                                                 <span style="width: 93%;float: left;height: 17px;"> <?php echo $employer_doc; ?></span>
                                                                                 
                                                                              </td>
                                                                           </tr>
                                                                           <tr>

                                                                              <td valign="top" width="100%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                                 <span style="width: 15%;float: left;"><strong>Razão Social:</strong></span>
                                                                                 <span style="width: 85%;float: left;height: 17px;"> <?php echo $employer_name; ?></span>
                                                                                 
                                                                              </td>
                                                                           </tr>
                                                                        </tbody>
                                                                     </table>


                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>



                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" width="65%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #000;font-size: 10px;text-align: left;">
                                                                     
                                                                     <span style="width: 100%;float: left;text-align: left;">
                                                                        Autorizo o desconto em folha do pagamento da minha mensalidade como associado do SIND TRAB HOTÉIS, MOT, BARES, REST, COZIND DO ES
                                                                     </span>
                                                                  </td>

                                                                  <td valign="top" width="35%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: center;">
                                                                     Vitória <?php echo date("d/m/Y"); ?>

                                                                     <br>
                                                                     <img align="left" alt="" src="./wp-content/themes/base10layout/templates/imagens/<?php echo $imgName; ?>" width="300" style="max-width:300px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">

                                                                     <br>

                                                                     <span style="width: 100%;float: left;text-align: center;"><strong>Assinatura do Sócio</strong></span>
                                                                     <br>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>


                                                       
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                           
               </td>
            </tr>
         </table>
      </center>
   </body>
</html>