<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
   <head>
      <!-- NAME: 1:2:1 COLUMN -->
      <!--[if gte mso 15]>
      <xml>
         <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
         </o:OfficeDocumentSettings>
      </xml>
      <![endif]-->
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>FILIAÇÃO</title>
      <style type="text/css">
         p{
         margin:10px 0;
         padding:0;
         }
         table{
         border-collapse:collapse;
         }
         h1,h2,h3,h4,h5,h6{
         display:block;
         margin:0;
         padding:0;
         }
         img,a img{
         border:0;
         height:auto;
         outline:none;
         text-decoration:none;
         }
         body,#bodyTable,#bodyCell{
         height:100%;
         margin:0 auto;
         padding:0;
         width:800px;
         }
         .mcnPreviewText{
         display:none !important;
         }
         #outlook a{
         padding:0;
         }
         img{
         -ms-interpolation-mode:bicubic;
         }
         table{
         mso-table-lspace:0pt;
         mso-table-rspace:0pt;
         }
         .ReadMsgBody{
         width:100%;
         }
         .ExternalClass{
         width:100%;
         }
         p,a,li,td,blockquote{
         mso-line-height-rule:exactly;
         }
         a[href^=tel],a[href^=sms]{
         color:inherit;
         cursor:default;
         text-decoration:none;
         }
         p,a,li,td,body,table,blockquote{
         -ms-text-size-adjust:100%;
         -webkit-text-size-adjust:100%;
         }
         .ExternalClass,.ExternalClass p,.ExternalClass td,.ExternalClass div,.ExternalClass span,.ExternalClass font{
         line-height:100%;
         }
         a[x-apple-data-detectors]{
         color:inherit !important;
         text-decoration:none !important;
         font-size:inherit !important;
         font-family:inherit !important;
         font-weight:inherit !important;
         line-height:inherit !important;
         }
         #bodyCell{
         padding:10px;
         border-top:5px none #000000;
         }
         .templateContainer{
         max-width:800px !important;
         border:1px solid #e9e9e9;
         }
         a.mcnButton{
         display:block;
         }
         .mcnImage,.mcnRetinaImage{
         vertical-align:bottom;
         }
         .mcnTextContent{
         word-break:break-word;
         }
         .mcnTextContent img{
         height:auto !important;
         }
         .mcnDividerBlock{
         table-layout:fixed !important;
         }
         /*
         @tab Page
         @section Background Style
         @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
         */
         body,#bodyTable{
         /*@editable*/background-color:#f7f7f7;
         }
         /*
         @tab Page
         @section Background Style
         @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
         */
         #bodyCell{
         /*@editable*/border-top:5px none #000000;
         }
         /*
         @tab Page
         @section Email Border
         @tip Set the border for your email.
         */
         .templateContainer{
         /*@editable*/border:1px solid #e9e9e9;
         }
         /*
         @tab Page
         @section Heading 1
         @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
         @style heading 1
         */
         h1{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:36px;
         /*@editable*/font-style:normal;
         /*@editable*/font-weight:bold;
         /*@editable*/line-height:125%;
         /*@editable*/letter-spacing:normal;
         /*@editable*/text-align:left;
         }
         /*
         @tab Page
         @section Heading 2
         @tip Set the styling for all second-level headings in your emails.
         @style heading 2
         */
         h2{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:22px;
         /*@editable*/font-style:normal;
         /*@editable*/font-weight:bold;
         /*@editable*/line-height:125%;
         /*@editable*/letter-spacing:normal;
         /*@editable*/text-align:left;
         }
         /*
         @tab Page
         @section Heading 3
         @tip Set the styling for all third-level headings in your emails.
         @style heading 3
         */
         h3{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:20px;
         /*@editable*/font-style:normal;
         /*@editable*/font-weight:bold;
         /*@editable*/line-height:125%;
         /*@editable*/letter-spacing:normal;
         /*@editable*/text-align:left;
         }
         /*
         @tab Page
         @section Heading 4
         @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
         @style heading 4
         */
         h4{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:18px;
         /*@editable*/font-style:normal;
         /*@editable*/font-weight:bold;
         /*@editable*/line-height:125%;
         /*@editable*/letter-spacing:normal;
         /*@editable*/text-align:left;
         }
         /*
         @tab Preheader
         @section Preheader Style
         @tip Set the background color and borders for your email's preheader area.
         */
         #templatePreheader{
         /*@editable*/background-color:#ffffff;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:1px none ;
         /*@editable*/border-bottom:0;
         /*@editable*/padding-top:20px;
         /*@editable*/padding-bottom:0px;
         }
         /*
         @tab Preheader
         @section Preheader Text
         @tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
         */
         #templatePreheader .mcnTextContent,#templatePreheader .mcnTextContent p{
         /*@editable*/color:#656565;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:12px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:left;
         }
         /*
         @tab Preheader
         @section Preheader Link
         @tip Set the styling for your email's preheader links. Choose a color that helps them stand out from your text.
         */
         #templatePreheader .mcnTextContent a,#templatePreheader .mcnTextContent p a{
         /*@editable*/color:#656565;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         /*
         @tab Header
         @section Header Style
         @tip Set the background color and borders for your email's header area.
         */
         #templateHeader{
         /*@editable*/background-color:#ffffff;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:0;
         /*@editable*/border-bottom:0;
         /*@editable*/padding-top:20px;
         /*@editable*/padding-bottom:0px;
         }
         /*
         @tab Header
         @section Header Text
         @tip Set the styling for your email's header text. Choose a size and color that is easy to read.
         */
         #templateHeader .mcnTextContent,#templateHeader .mcnTextContent p{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:16px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:left;
         }
         /*
         @tab Header
         @section Header Link
         @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
         */
         #templateHeader .mcnTextContent a,#templateHeader .mcnTextContent p a{
         /*@editable*/color:#2BAADF;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         /*
         @tab Upper Body
         @section Upper Body Style
         @tip Set the background color and borders for your email's upper body area.
         */
         #templateUpperBody{
         /*@editable*/background-color:#ffffff;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:0;
         /*@editable*/border-bottom:0;
         /*@editable*/padding-top:20px;
         /*@editable*/padding-bottom:0px;
         }
         /*
         @tab Upper Body
         @section Upper Body Text
         @tip Set the styling for your email's upper body text. Choose a size and color that is easy to read.
         */
         #templateUpperBody .mcnTextContent,#templateUpperBody .mcnTextContent p{
         /*@editable*/color:#202020;
         /*@editable*/font-family:'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
         /*@editable*/font-size:16px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:left;
         }
         /*
         @tab Upper Body
         @section Upper Body Link
         @tip Set the styling for your email's upper body links. Choose a color that helps them stand out from your text.
         */
         #templateUpperBody .mcnTextContent a,#templateUpperBody .mcnTextContent p a{
         /*@editable*/color:#2BAADF;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         /*
         @tab Columns
         @section Column Style
         @tip Set the background color and borders for your email's columns.
         */
         #templateColumns{
         /*@editable*/background-color:#ffffff;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:0;
         /*@editable*/border-bottom:0;
         /*@editable*/padding-top:0;
         /*@editable*/padding-bottom:0;
         }
         /*
         @tab Columns
         @section Column Text
         @tip Set the styling for your email's column text. Choose a size and color that is easy to read.
         */
         #templateColumns .columnContainer .mcnTextContent,#templateColumns .columnContainer .mcnTextContent p{
         /*@editable*/color:#202020;
         /*@editable*/font-family:'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
         /*@editable*/font-size:16px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:left;
         }
         /*
         @tab Columns
         @section Column Link
         @tip Set the styling for your email's column links. Choose a color that helps them stand out from your text.
         */
         #templateColumns .columnContainer .mcnTextContent a,#templateColumns .columnContainer .mcnTextContent p a{
         /*@editable*/color:#2BAADF;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         /*
         @tab Lower Body
         @section Lower Body Style
         @tip Set the background color and borders for your email's lower body area.
         */
         #templateLowerBody{
         /*@editable*/background-color:#ffffff;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:0;
         /*@editable*/border-bottom:2px solid #EAEAEA;
         /*@editable*/padding-top:0;
         /*@editable*/padding-bottom:9px;
         }
         /*
         @tab Lower Body
         @section Lower Body Text
         @tip Set the styling for your email's lower body text. Choose a size and color that is easy to read.
         */
         #templateLowerBody .mcnTextContent,#templateLowerBody .mcnTextContent p{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:16px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:left;
         }
         /*
         @tab Lower Body
         @section Lower Body Link
         @tip Set the styling for your email's lower body links. Choose a color that helps them stand out from your text.
         */
         #templateLowerBody .mcnTextContent a,#templateLowerBody .mcnTextContent p a{
         /*@editable*/color:#2BAADF;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         /*
         @tab Footer
         @section Footer Style
         @tip Set the background color and borders for your email's footer area.
         */
         #templateFooter{
         /*@editable*/background-color:#fafafa;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:0;
         /*@editable*/border-bottom:0;
         /*@editable*/padding-top:9px;
         /*@editable*/padding-bottom:9px;
         }
         /*
         @tab Footer
         @section Footer Text
         @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
         */
         #templateFooter .mcnTextContent,#templateFooter .mcnTextContent p{
         /*@editable*/color:#656565;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:12px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:center;
         }
         /*
         @tab Footer
         @section Footer Link
         @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
         */
         #templateFooter .mcnTextContent a,#templateFooter .mcnTextContent p a{
         /*@editable*/color:#656565;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         @media only screen and (min-width:768px){
         .templateContainer{
         width:800px !important;
         }
         }  @media only screen and (max-width: 480px){
         body,table,td,p,a,li,blockquote{
         -webkit-text-size-adjust:none !important;
         }
         }  @media only screen and (max-width: 480px){
         body{
         width:100% !important;
         min-width:100% !important;
         }
         }  @media only screen and (max-width: 480px){
         #bodyCell{
         padding-top:10px !important;
         }
         }  @media only screen and (max-width: 480px){
         .columnWrapper{
         max-width:100% !important;
         width:100% !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnRetinaImage{
         max-width:100% !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnImage{
         width:100% !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnCartContainer,.mcnCaptionTopContent,.mcnRecContentContainer,.mcnCaptionBottomContent,.mcnTextContentContainer,.mcnBoxedTextContentContainer,.mcnImageGroupContentContainer,.mcnCaptionLeftTextContentContainer,.mcnCaptionRightTextContentContainer,.mcnCaptionLeftImageContentContainer,.mcnCaptionRightImageContentContainer,.mcnImageCardLeftTextContentContainer,.mcnImageCardRightTextContentContainer,.mcnImageCardLeftImageContentContainer,.mcnImageCardRightImageContentContainer{
         max-width:100% !important;
         width:100% !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnBoxedTextContentContainer{
         min-width:100% !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnImageGroupContent{
         padding:9px !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnCaptionLeftContentOuter .mcnTextContent,.mcnCaptionRightContentOuter .mcnTextContent{
         padding-top:9px !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnImageCardTopImageContent,.mcnCaptionBottomContent:last-child .mcnCaptionBottomImageContent,.mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent{
         padding-top:18px !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnImageCardBottomImageContent{
         padding-bottom:9px !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnImageGroupBlockInner{
         padding-top:0 !important;
         padding-bottom:0 !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnImageGroupBlockOuter{
         padding-top:9px !important;
         padding-bottom:9px !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnTextContent,.mcnBoxedTextContentColumn{
         padding-right:18px !important;
         padding-left:18px !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcnImageCardLeftImageContent,.mcnImageCardRightImageContent{
         padding-right:18px !important;
         padding-bottom:0 !important;
         padding-left:18px !important;
         }
         }  @media only screen and (max-width: 480px){
         .mcpreview-image-uploader{
         display:none !important;
         width:100% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Heading 1
         @tip Make the first-level headings larger in size for better readability on small screens.
         */
         h1{
         /*@editable*/font-size:22px !important;
         /*@editable*/line-height:125% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Heading 2
         @tip Make the second-level headings larger in size for better readability on small screens.
         */
         h2{
         /*@editable*/font-size:20px !important;
         /*@editable*/line-height:125% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Heading 3
         @tip Make the third-level headings larger in size for better readability on small screens.
         */
         h3{
         /*@editable*/font-size:18px !important;
         /*@editable*/line-height:125% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Heading 4
         @tip Make the fourth-level headings larger in size for better readability on small screens.
         */
         h4{
         /*@editable*/font-size:16px !important;
         /*@editable*/line-height:150% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Boxed Text
         @tip Make the boxed text larger in size for better readability on small screens. We recommend a font size of at least 16px.
         */
         .mcnBoxedTextContentContainer .mcnTextContent,.mcnBoxedTextContentContainer .mcnTextContent p{
         /*@editable*/font-size:14px !important;
         /*@editable*/line-height:150% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Preheader Visibility
         @tip Set the visibility of the email's preheader on small screens. You can hide it to save space.
         */
         #templatePreheader{
         /*@editable*/display:block !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Preheader Text
         @tip Make the preheader text larger in size for better readability on small screens.
         */
         #templatePreheader .mcnTextContent,#templatePreheader .mcnTextContent p{
         /*@editable*/font-size:14px !important;
         /*@editable*/line-height:150% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Header Text
         @tip Make the header text larger in size for better readability on small screens.
         */
         #templateHeader .mcnTextContent,#templateHeader .mcnTextContent p{
         /*@editable*/font-size:16px !important;
         /*@editable*/line-height:150% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Upper Body Text
         @tip Make the upper body text larger in size for better readability on small screens. We recommend a font size of at least 16px.
         */
         #templateUpperBody .mcnTextContent,#templateUpperBody .mcnTextContent p{
         /*@editable*/font-size:16px !important;
         /*@editable*/line-height:150% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Column Text
         @tip Make the column text larger in size for better readability on small screens. We recommend a font size of at least 16px.
         */
         #templateColumns .columnContainer .mcnTextContent,#templateColumns .columnContainer .mcnTextContent p{
         /*@editable*/font-size:16px !important;
         /*@editable*/line-height:150% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Lower Body Text
         @tip Make the lower body text larger in size for better readability on small screens. We recommend a font size of at least 16px.
         */
         #templateLowerBody .mcnTextContent,#templateLowerBody .mcnTextContent p{
         /*@editable*/font-size:16px !important;
         /*@editable*/line-height:150% !important;
         }
         }  @media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Footer Text
         @tip Make the footer content text larger in size for better readability on small screens.
         */
         #templateFooter .mcnTextContent,#templateFooter .mcnTextContent p{
         /*@editable*/font-size:14px !important;
         /*@editable*/line-height:150% !important;
         }
         }
      </style>
   </head>
   <body>
      <center>
         <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="800" id="bodyTable" style="background: #fff;">
            <tr>
               <td align="center" valign="top" id="bodyCell" width="800">
             
                           <table border="0" cellpadding="0" cellspacing="0" width="800" class="templateContainer">
                              <tr>
                                 <td valign="top" width="791" class="mcnTextContent" style="color: #404040;font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, Verdana, sans-serif;font-style: normal;font-weight: normal;text-align: center; width:791px; float: left;">
                                    <img align="center" alt="" src="./wp-content/themes/base10layout/templates/imagens/logosindmoto.jpg" width="791" style="max-width: 791px;width: 791px;float: left;padding-bottom: 0;display: inline !important;vertical-align: bottom;margin-left: 0px;margin-top: 0px;" class="mcnImage">
                                    <img align="left" alt="" src="./wp-content/uploads/<?php echo $foto; ?>" width="115" style="max-width:115px;width:115px;float: right;padding-bottom: 0px;display: inline !important;vertical-align: bottom;position: relative;right: 7px;margin-top: -150px;" class="mcnImage">
                                    
                                 </td>
                                                               
                              </tr>
                              <tr>
                                 <td valign="top" id="templateUpperBody">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
                                       <tbody class="mcnDividerBlockOuter">
                                          <tr>
                                             <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 15px 18px 5px;">
                                                <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top: 2px solid #EAEAEA;">
                                                   <tbody>
                                                      <tr>
                                                         <td>
                                                            <span></span>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock" style="min-width:100%;">
                                     
                                          <tbody class="mcnBoxedTextBlockOuter">
                                             <tr>
                                                <td valign="top" class="mcnBoxedTextBlockInner">
                                                 
                                                   <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnBoxedTextContentContainer">
                                                      <tbody>
                                                         <tr>
                                                            <td style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;">
                                                               <table border="0" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important;background-color: #E8E8E8;">
                                                                  <tbody>
                                                                     <tr>
                                                                        <td valign="top" class="mcnTextContent" style="padding: 18px;color: #404040;font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;font-size: 14px;font-weight: normal;line-height: 100%;text-align: center;">
                                                                           <strong>Proposta de Sócio Nº:</strong>
                                                                           <?php
                                                                              $time = date("dmYHis", time());
                                                                              $hash = hash_hmac('sha256', $time, "1");
                                                                              echo "#".$time;
                                                                              ?>
                                                                        </td>
                                                                     </tr>
                                                                  </tbody>
                                                               </table>
                                                            </td>
                                                         </tr>
                                                      </tbody>
                                                   </table>
                                       </td>
                                       </tr>
                                       </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
                                       <tbody class="mcnDividerBlockOuter">
                                          <tr>
                                             <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 5px 18px 15px;">
                                                <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top: 2px solid #EAEAEA;">
                                                   <tbody>
                                                      <tr>
                                                         <td>
                                                            <span></span>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                                
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                   
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                                       <tbody class="mcnTextBlockOuter">
                                          <tr>
                                             <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                                               
                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" width="70%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left;"><strong>Nome:</strong> <?php echo $nome; ?></span>
                                                                  </td>
                                                                  <td valign="top" width="30%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left;"><strong>Data Nasc:</strong> <?php echo $dtnasc; ?></span>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>

                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" width="55%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left;"><strong>Nacionalidade:</strong> <?php echo $syndicate_name; ?></span>
                                                                  </td>
                                                                  <td valign="top" width="45%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left;"><strong>Naturalidade:</strong> <?php echo $syndicate_name; ?></span>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>

                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" width="60%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left;"><strong>CPF:</strong> <?php echo $cpf; ?></span>
                                                                  </td>
                                                                  <td valign="top" width="40%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left;"><strong>PIS:</strong> </span>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>

                                                         

                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" width="50%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left;"><strong>Habilitação:</strong> <?php echo $syndicate_name; ?></span>
                                                                  </td>
                                                                  <td valign="top" width="25%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left;"><strong>CAT:</strong> <?php echo $syndicate_name; ?></span>
                                                                  </td>
                                                                  <td valign="top" width="25%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left;"><strong>Validade:</strong> ___/___/______</span>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>

                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" width="56%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left;"><strong>Identidade:</strong> <?php echo $rg; ?></span>
                                                                  </td>
                                                                  <td valign="top" width="22%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left;"><strong>Org Exp:</strong> </span>
                                                                  </td>
                                                                  <td valign="top" width="22%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left;"><strong>Tipo Sanguineo:</strong> </span>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>                                                         

                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" width="56%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left;"><strong>Carteira de Trabalho:</strong> <?php echo $syndicate_name; ?></span>
                                                                  </td>
                                                                  <td valign="top" width="22%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left;"><strong>Série:</strong> <?php echo $syndicate_name; ?></span>
                                                                  </td>
                                                                  <td valign="top" width="22%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left;"><strong>Tel:</strong><?php echo $telefone; ?> </span>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>



                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" width="100%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left;"><strong>Nome do Pai:</strong> <?php echo $nome_pai; ?></span>
                                                                  </td>
                                                                  
                                                               </tr>
                                                            </tbody>
                                                         </table>

                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" width="100%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left;"><strong>Nome da Mãe:</strong> <?php echo $nome_mae; ?></span>
                                                                  </td>
                                                                  
                                                               </tr>
                                                            </tbody>
                                                         </table>

                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" width="100%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left;"><strong>Residencia:</strong> <?php echo $logradouro; ?></span>
                                                                  </td>
                                                                  
                                                               </tr>
                                                            </tbody>
                                                         </table>                                                        

                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" width="20%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left;"><strong>Número:</strong> <?php echo $numero; ?></span>
                                                                  </td>
                                                                  <td valign="top" width="40%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left;"><strong>Bairro:</strong> <?php echo $bairro; ?></span>
                                                                  </td>
                                                                  <td valign="top" width="20%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left;"><strong>CEP:</strong> </span>
                                                                  </td>

                                                                  <td valign="top" width="20%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     <span style="width: 100%;float: left;"><strong>Estado:</strong> <?php echo $uf; ?></span>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>

                                                         <span style="width: 100%; float: left; margin-top: 40px;"></span>


                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" width="35%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #1F64AB;font-size: 14px;text-align: center;">
                                                                     
                                                                     <img align="left" alt="" src="./wp-content/themes/base10layout/templates/imagens/<?php echo $imgName; ?>" width="300" style="max-width:300px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">

                                                                     <br>

                                                                     <span style="width: 100%;float: left; text-align: center;"></span>
                                                                     <br>
                                                                     <strong>Assinatura do Sócio</strong>
                                                                  </td>

                                                                  <td valign="top" width="20%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     
                                                                  </td>

                                                                  <td valign="top" width="45%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     Rio de Janeiro ___ de _____________ de _______
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>

                                                         <span style="width: 100%; float: left; margin-top: 40px;"></span>


                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" width="35%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #1F64AB;font-size: 14px;text-align: center;">
                                                                     
                                                                     

                                                                     <span style="width: 100%;float: left; text-align: center;"></span>
                                                                     <br>
                                                                     <strong>Secretário</strong>
                                                                  </td>

                                                                  <td valign="top" width="20%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">
                                                                     
                                                                  </td>

                                                                  <td valign="top" width="35%" class="mcnTextContent" style="padding: 0px 18px 9px;color: #1F64AB;font-size: 14px;text-align: center;">
                                                                     
                                                                     

                                                                     <span style="width: 100%;float: left; text-align: center;"></span>
                                                                     <br>
                                                                     <strong>Presidente</strong>
                                                                  </td>
                                                                  
                                                               </tr>
                                                            </tbody>
                                                         </table>

                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                          
               </td>
            </tr>
         </table>
      </center>
   </body>
</html>