<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
   <head>
      <!-- NAME: 1:2:1 COLUMN -->
      <!--[if gte mso 15]>
      <xml>
         <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
         </o:OfficeDocumentSettings>
      </xml>
      <![endif]-->
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>FILIAÇÃO</title>
      <style type="text/css">
         p{
         margin:10px 0;
         padding:0;
         }
         table{
         border-collapse:collapse;
         }
         h1,h2,h3,h4,h5,h6{
         display:block;
         margin:0;
         padding:0;
         }
         img,a img{
         border:0;
         height:auto;
         outline:none;
         text-decoration:none;
         }
         body,#bodyTable,#bodyCell{
         height:100%;
         margin:0;
         padding:0;
         width:100%;
         }
         .mcnPreviewText{
         display:none !important;
         }
         #outlook a{
         padding:0;
         }
         img{
         -ms-interpolation-mode:bicubic;
         }
         table{
         mso-table-lspace:0pt;
         mso-table-rspace:0pt;
         }
         .ReadMsgBody{
         width:100%;
         }
         .ExternalClass{
         width:100%;
         }
         p,a,li,td,blockquote{
         mso-line-height-rule:exactly;
         }
         a[href^=tel],a[href^=sms]{
         color:inherit;
         cursor:default;
         text-decoration:none;
         }
         p,a,li,td,body,table,blockquote{
         -ms-text-size-adjust:100%;
         -webkit-text-size-adjust:100%;
         }
         .ExternalClass,.ExternalClass p,.ExternalClass td,.ExternalClass div,.ExternalClass span,.ExternalClass font{
         line-height:100%;
         }
         a[x-apple-data-detectors]{
         color:inherit !important;
         text-decoration:none !important;
         font-size:inherit !important;
         font-family:inherit !important;
         font-weight:inherit !important;
         line-height:inherit !important;
         }
         #bodyCell{
         padding:10px;
         border-top:5px none #000000;
         }
         .templateContainer{
         max-width:600px !important;
         border:1px solid #e9e9e9;
         }
         a.mcnButton{
         display:block;
         }
         .mcnImage,.mcnRetinaImage{
         vertical-align:bottom;
         }
         .mcnTextContent{
         word-break:break-word;
         }
         .mcnTextContent img{
         height:auto !important;
         }
         .mcnDividerBlock{
         table-layout:fixed !important;
         }
         /*
         @tab Page
         @section Background Style
         @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
         */
         body,#bodyTable{
         /*@editable*/background-color:#f7f7f7;
         }
         /*
         @tab Page
         @section Background Style
         @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
         */
         #bodyCell{
         /*@editable*/border-top:5px none #000000;
         }
         /*
         @tab Page
         @section Email Border
         @tip Set the border for your email.
         */
         .templateContainer{
         /*@editable*/border:1px solid #e9e9e9;
         }
         /*
         @tab Page
         @section Heading 1
         @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
         @style heading 1
         */
         h1{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:36px;
         /*@editable*/font-style:normal;
         /*@editable*/font-weight:bold;
         /*@editable*/line-height:125%;
         /*@editable*/letter-spacing:normal;
         /*@editable*/text-align:left;
         }
         /*
         @tab Page
         @section Heading 2
         @tip Set the styling for all second-level headings in your emails.
         @style heading 2
         */
         h2{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:22px;
         /*@editable*/font-style:normal;
         /*@editable*/font-weight:bold;
         /*@editable*/line-height:125%;
         /*@editable*/letter-spacing:normal;
         /*@editable*/text-align:left;
         }
         /*
         @tab Page
         @section Heading 3
         @tip Set the styling for all third-level headings in your emails.
         @style heading 3
         */
         h3{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:20px;
         /*@editable*/font-style:normal;
         /*@editable*/font-weight:bold;
         /*@editable*/line-height:125%;
         /*@editable*/letter-spacing:normal;
         /*@editable*/text-align:left;
         }
         /*
         @tab Page
         @section Heading 4
         @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
         @style heading 4
         */
         h4{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:18px;
         /*@editable*/font-style:normal;
         /*@editable*/font-weight:bold;
         /*@editable*/line-height:125%;
         /*@editable*/letter-spacing:normal;
         /*@editable*/text-align:left;
         }
         /*
         @tab Preheader
         @section Preheader Style
         @tip Set the background color and borders for your email's preheader area.
         */
         #templatePreheader{
         /*@editable*/background-color:#ffffff;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:1px none ;
         /*@editable*/border-bottom:0;
         /*@editable*/padding-top:20px;
         /*@editable*/padding-bottom:0px;
         }
         /*
         @tab Preheader
         @section Preheader Text
         @tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
         */
         #templatePreheader .mcnTextContent,#templatePreheader .mcnTextContent p{
         /*@editable*/color:#656565;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:12px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:left;
         }
         /*
         @tab Preheader
         @section Preheader Link
         @tip Set the styling for your email's preheader links. Choose a color that helps them stand out from your text.
         */
         #templatePreheader .mcnTextContent a,#templatePreheader .mcnTextContent p a{
         /*@editable*/color:#656565;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         /*
         @tab Header
         @section Header Style
         @tip Set the background color and borders for your email's header area.
         */
         #templateHeader{
         /*@editable*/background-color:#ffffff;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:0;
         /*@editable*/border-bottom:0;
         /*@editable*/padding-top:20px;
         /*@editable*/padding-bottom:0px;
         }
         /*
         @tab Header
         @section Header Text
         @tip Set the styling for your email's header text. Choose a size and color that is easy to read.
         */
         #templateHeader .mcnTextContent,#templateHeader .mcnTextContent p{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:16px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:left;
         }
         /*
         @tab Header
         @section Header Link
         @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
         */
         #templateHeader .mcnTextContent a,#templateHeader .mcnTextContent p a{
         /*@editable*/color:#2BAADF;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         /*
         @tab Upper Body
         @section Upper Body Style
         @tip Set the background color and borders for your email's upper body area.
         */
         #templateUpperBody{
         /*@editable*/background-color:#ffffff;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:0;
         /*@editable*/border-bottom:0;
         /*@editable*/padding-top:20px;
         /*@editable*/padding-bottom:0px;
         }
         /*
         @tab Upper Body
         @section Upper Body Text
         @tip Set the styling for your email's upper body text. Choose a size and color that is easy to read.
         */
         #templateUpperBody .mcnTextContent,#templateUpperBody .mcnTextContent p{
         /*@editable*/color:#202020;
         /*@editable*/font-family:'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
         /*@editable*/font-size:16px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:left;
         }
         /*
         @tab Upper Body
         @section Upper Body Link
         @tip Set the styling for your email's upper body links. Choose a color that helps them stand out from your text.
         */
         #templateUpperBody .mcnTextContent a,#templateUpperBody .mcnTextContent p a{
         /*@editable*/color:#2BAADF;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         /*
         @tab Columns
         @section Column Style
         @tip Set the background color and borders for your email's columns.
         */
         #templateColumns{
         /*@editable*/background-color:#ffffff;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:0;
         /*@editable*/border-bottom:0;
         /*@editable*/padding-top:0;
         /*@editable*/padding-bottom:0;
         }
         /*
         @tab Columns
         @section Column Text
         @tip Set the styling for your email's column text. Choose a size and color that is easy to read.
         */
         #templateColumns .columnContainer .mcnTextContent,#templateColumns .columnContainer .mcnTextContent p{
         /*@editable*/color:#202020;
         /*@editable*/font-family:'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
         /*@editable*/font-size:16px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:left;
         }
         /*
         @tab Columns
         @section Column Link
         @tip Set the styling for your email's column links. Choose a color that helps them stand out from your text.
         */
         #templateColumns .columnContainer .mcnTextContent a,#templateColumns .columnContainer .mcnTextContent p a{
         /*@editable*/color:#2BAADF;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         /*
         @tab Lower Body
         @section Lower Body Style
         @tip Set the background color and borders for your email's lower body area.
         */
         #templateLowerBody{
         /*@editable*/background-color:#ffffff;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:0;
         /*@editable*/border-bottom:2px solid #EAEAEA;
         /*@editable*/padding-top:0;
         /*@editable*/padding-bottom:9px;
         }
         /*
         @tab Lower Body
         @section Lower Body Text
         @tip Set the styling for your email's lower body text. Choose a size and color that is easy to read.
         */
         #templateLowerBody .mcnTextContent,#templateLowerBody .mcnTextContent p{
         /*@editable*/color:#202020;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:16px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:left;
         }
         /*
         @tab Lower Body
         @section Lower Body Link
         @tip Set the styling for your email's lower body links. Choose a color that helps them stand out from your text.
         */
         #templateLowerBody .mcnTextContent a,#templateLowerBody .mcnTextContent p a{
         /*@editable*/color:#2BAADF;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         /*
         @tab Footer
         @section Footer Style
         @tip Set the background color and borders for your email's footer area.
         */
         #templateFooter{
         /*@editable*/background-color:#fafafa;
         /*@editable*/background-image:none;
         /*@editable*/background-repeat:no-repeat;
         /*@editable*/background-position:center;
         /*@editable*/background-size:cover;
         /*@editable*/border-top:0;
         /*@editable*/border-bottom:0;
         /*@editable*/padding-top:9px;
         /*@editable*/padding-bottom:9px;
         }
         /*
         @tab Footer
         @section Footer Text
         @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
         */
         #templateFooter .mcnTextContent,#templateFooter .mcnTextContent p{
         /*@editable*/color:#656565;
         /*@editable*/font-family:Helvetica;
         /*@editable*/font-size:12px;
         /*@editable*/line-height:150%;
         /*@editable*/text-align:center;
         }
         /*
         @tab Footer
         @section Footer Link
         @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
         */
         #templateFooter .mcnTextContent a,#templateFooter .mcnTextContent p a{
         /*@editable*/color:#656565;
         /*@editable*/font-weight:normal;
         /*@editable*/text-decoration:underline;
         }
         @media only screen and (min-width:768px){
         .templateContainer{
         width:600px !important;
         }
         }	@media only screen and (max-width: 480px){
         body,table,td,p,a,li,blockquote{
         -webkit-text-size-adjust:none !important;
         }
         }	@media only screen and (max-width: 480px){
         body{
         width:100% !important;
         min-width:100% !important;
         }
         }	@media only screen and (max-width: 480px){
         #bodyCell{
         padding-top:10px !important;
         }
         }	@media only screen and (max-width: 480px){
         .columnWrapper{
         max-width:100% !important;
         width:100% !important;
         }
         }	@media only screen and (max-width: 480px){
         .mcnRetinaImage{
         max-width:100% !important;
         }
         }	@media only screen and (max-width: 480px){
         .mcnImage{
         width:100% !important;
         }
         }	@media only screen and (max-width: 480px){
         .mcnCartContainer,.mcnCaptionTopContent,.mcnRecContentContainer,.mcnCaptionBottomContent,.mcnTextContentContainer,.mcnBoxedTextContentContainer,.mcnImageGroupContentContainer,.mcnCaptionLeftTextContentContainer,.mcnCaptionRightTextContentContainer,.mcnCaptionLeftImageContentContainer,.mcnCaptionRightImageContentContainer,.mcnImageCardLeftTextContentContainer,.mcnImageCardRightTextContentContainer,.mcnImageCardLeftImageContentContainer,.mcnImageCardRightImageContentContainer{
         max-width:100% !important;
         width:100% !important;
         }
         }	@media only screen and (max-width: 480px){
         .mcnBoxedTextContentContainer{
         min-width:100% !important;
         }
         }	@media only screen and (max-width: 480px){
         .mcnImageGroupContent{
         padding:9px !important;
         }
         }	@media only screen and (max-width: 480px){
         .mcnCaptionLeftContentOuter .mcnTextContent,.mcnCaptionRightContentOuter .mcnTextContent{
         padding-top:9px !important;
         }
         }	@media only screen and (max-width: 480px){
         .mcnImageCardTopImageContent,.mcnCaptionBottomContent:last-child .mcnCaptionBottomImageContent,.mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent{
         padding-top:18px !important;
         }
         }	@media only screen and (max-width: 480px){
         .mcnImageCardBottomImageContent{
         padding-bottom:9px !important;
         }
         }	@media only screen and (max-width: 480px){
         .mcnImageGroupBlockInner{
         padding-top:0 !important;
         padding-bottom:0 !important;
         }
         }	@media only screen and (max-width: 480px){
         .mcnImageGroupBlockOuter{
         padding-top:9px !important;
         padding-bottom:9px !important;
         }
         }	@media only screen and (max-width: 480px){
         .mcnTextContent,.mcnBoxedTextContentColumn{
         padding-right:18px !important;
         padding-left:18px !important;
         }
         }	@media only screen and (max-width: 480px){
         .mcnImageCardLeftImageContent,.mcnImageCardRightImageContent{
         padding-right:18px !important;
         padding-bottom:0 !important;
         padding-left:18px !important;
         }
         }	@media only screen and (max-width: 480px){
         .mcpreview-image-uploader{
         display:none !important;
         width:100% !important;
         }
         }	@media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Heading 1
         @tip Make the first-level headings larger in size for better readability on small screens.
         */
         h1{
         /*@editable*/font-size:22px !important;
         /*@editable*/line-height:125% !important;
         }
         }	@media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Heading 2
         @tip Make the second-level headings larger in size for better readability on small screens.
         */
         h2{
         /*@editable*/font-size:20px !important;
         /*@editable*/line-height:125% !important;
         }
         }	@media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Heading 3
         @tip Make the third-level headings larger in size for better readability on small screens.
         */
         h3{
         /*@editable*/font-size:18px !important;
         /*@editable*/line-height:125% !important;
         }
         }	@media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Heading 4
         @tip Make the fourth-level headings larger in size for better readability on small screens.
         */
         h4{
         /*@editable*/font-size:16px !important;
         /*@editable*/line-height:150% !important;
         }
         }	@media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Boxed Text
         @tip Make the boxed text larger in size for better readability on small screens. We recommend a font size of at least 16px.
         */
         .mcnBoxedTextContentContainer .mcnTextContent,.mcnBoxedTextContentContainer .mcnTextContent p{
         /*@editable*/font-size:14px !important;
         /*@editable*/line-height:150% !important;
         }
         }	@media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Preheader Visibility
         @tip Set the visibility of the email's preheader on small screens. You can hide it to save space.
         */
         #templatePreheader{
         /*@editable*/display:block !important;
         }
         }	@media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Preheader Text
         @tip Make the preheader text larger in size for better readability on small screens.
         */
         #templatePreheader .mcnTextContent,#templatePreheader .mcnTextContent p{
         /*@editable*/font-size:14px !important;
         /*@editable*/line-height:150% !important;
         }
         }	@media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Header Text
         @tip Make the header text larger in size for better readability on small screens.
         */
         #templateHeader .mcnTextContent,#templateHeader .mcnTextContent p{
         /*@editable*/font-size:16px !important;
         /*@editable*/line-height:150% !important;
         }
         }	@media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Upper Body Text
         @tip Make the upper body text larger in size for better readability on small screens. We recommend a font size of at least 16px.
         */
         #templateUpperBody .mcnTextContent,#templateUpperBody .mcnTextContent p{
         /*@editable*/font-size:16px !important;
         /*@editable*/line-height:150% !important;
         }
         }	@media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Column Text
         @tip Make the column text larger in size for better readability on small screens. We recommend a font size of at least 16px.
         */
         #templateColumns .columnContainer .mcnTextContent,#templateColumns .columnContainer .mcnTextContent p{
         /*@editable*/font-size:16px !important;
         /*@editable*/line-height:150% !important;
         }
         }	@media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Lower Body Text
         @tip Make the lower body text larger in size for better readability on small screens. We recommend a font size of at least 16px.
         */
         #templateLowerBody .mcnTextContent,#templateLowerBody .mcnTextContent p{
         /*@editable*/font-size:16px !important;
         /*@editable*/line-height:150% !important;
         }
         }	@media only screen and (max-width: 480px){
         /*
         @tab Mobile Styles
         @section Footer Text
         @tip Make the footer content text larger in size for better readability on small screens.
         */
         #templateFooter .mcnTextContent,#templateFooter .mcnTextContent p{
         /*@editable*/font-size:14px !important;
         /*@editable*/line-height:150% !important;
         }
         }
      </style>
   </head>
   <body>
      <!--*|IF:MC_PREVIEW_TEXT|*-->
      <!--[if !gte mso 9]><!----><span class="mcnPreviewText" style="display:none; font-size:0px; line-height:0px; max-height:0px; max-width:0px; opacity:0; overflow:hidden; visibility:hidden; mso-hide:all;"></span><!--<![endif]-->
      <!--*|END:IF|*-->
      <center>
         <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            <tr>
               <td align="center" valign="top" id="bodyCell">
                  <!-- BEGIN TEMPLATE // -->
                  <!--[if (gte mso 9)|(IE)]>
                  <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
                     <tr>
                        <td align="center" valign="top" width="600" style="width:600px;">
                           <![endif]-->
                           <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
                              <tr>
                                 <td valign="top" id="templatePreheader">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="min-width:100%;">
                                       <tbody class="mcnImageBlockOuter">
                                          <tr>
                                             <td valign="top" style="padding:9px" class="mcnImageBlockInner">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="min-width:100%;">
                                                   <tbody>
                                                      <tr>
                                                         <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center;">
                                                            <img align="center" alt="" src="https://gallery.mailchimp.com/02a0026a1fb0096f66d045847/images/a08048bf-8d45-47a9-b08a-75d9ea20285a.png" width="198" style="max-width:198px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                              <tr>
                                 <td valign="top" id="templateUpperBody">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
                                       <tbody class="mcnDividerBlockOuter">
                                          <tr>
                                             <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 15px 18px 5px;">
                                                <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top: 2px solid #EAEAEA;">
                                                   <tbody>
                                                      <tr>
                                                         <td>
                                                            <span></span>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                                <!--            
                                                   <td class="mcnDividerBlockInner" style="padding: 18px;">
                                                   <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
                                                   -->
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock" style="min-width:100%;">
                                       <!--[if gte mso 9]>
                                       <table align="center" border="0" cellspacing="0" cellpadding="0" width="100%">
                                          <![endif]-->
                                          <tbody class="mcnBoxedTextBlockOuter">
                                             <tr>
                                                <td valign="top" class="mcnBoxedTextBlockInner">
                                                   <!--[if gte mso 9]>
                                                <td align="center" valign="top" ">
                                                   <![endif]-->
                                                   <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnBoxedTextContentContainer">
                                                      <tbody>
                                                         <tr>
                                                            <td style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;">
                                                               <table border="0" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important;background-color: #E8E8E8;">
                                                                  <tbody>
                                                                     <tr>
                                                                        <td valign="top" class="mcnTextContent" style="padding: 18px;color: #404040;font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;font-size: 14px;font-weight: normal;line-height: 100%;text-align: center;">
                                                                           <strong>Número de Protocolo:</strong>
                                                                           <?php
                                                                              $now = DateTime::createFromFormat('U.u', microtime(true));
                                                                              $time = $now->format("mdYHisu");
                                                                              $hash = hash_hmac('sha256', $time, "1");
                                                                              echo "#".$time;
                                                                              ?>
                                                                        </td>
                                                                     </tr>
                                                                  </tbody>
                                                               </table>
                                                            </td>
                                                         </tr>
                                                      </tbody>
                                                   </table>
                                                   <!--[if gte mso 9]>
                                                </td>
                                                <![endif]-->
                                                <!--[if gte mso 9]>
                                             </tr>
                                       </table>
                                       <![endif]-->
                                       </td>
                                       </tr>
                                       </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
                                       <tbody class="mcnDividerBlockOuter">
                                          <tr>
                                             <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 5px 18px 15px;">
                                                <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top: 2px solid #EAEAEA;">
                                                   <tbody>
                                                      <tr>
                                                         <td>
                                                            <span></span>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                                <!--            
                                                   <td class="mcnDividerBlockInner" style="padding: 18px;">
                                                   <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
                                                   -->
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                                       <tbody class="mcnTextBlockOuter">
                                          <tr>
                                             <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                                                <!--[if mso]>
                                                <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                                                   <tr>
                                                      <![endif]-->
                                                      <!--[if mso]>
                                                      <td valign="top" width="599" style="width:599px;">
                                                         <![endif]-->
                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" class="mcnTextContent" style="padding: 0px 18px 9px;color: #404040;font-size: 13px;text-align: left;">

                                                                  <strong  style="padding: 0px 18px 9px;color: #1F64AB;font-size: 14px;text-align: left;">DADOS DO EMPREGADOR</strong><br><br>
                                                                  

                                                                     <strong>DADOS</strong><br>                                             
                                                                     <strong>Empresa:</strong> <?php echo $empresa_nome; ?><br>
                                                                     <strong>CNPJ:</strong> <?php echo $empresa_cnpj; ?><br>
                                                                     <strong>Segmento:</strong> <?php echo $empresa_segmento; ?> <br><br>

                                                                     <strong>ENDEREÇO</strong><br>                            
                                                                     <strong>Endereço:</strong> <?php echo $empresa_logradouro; ?><br>
                                                                     <strong>Numero:</strong> <?php echo $empresa_numero; ?><br>
                                                                     <strong>Complemento:</strong> <?php echo $empresa_complemento; ?><br>
                                                                     <strong>Bairro:</strong> <?php echo $empresa_bairro; ?><br>         
                                                                     <strong>Cidade:</strong> <?php echo $empresa_cidade; ?><br>
                                                                     <strong>UF:</strong> <?php echo $empresa_uf; ?><br><br>

                                                                     <strong>CONTATOS</strong><br>
                                                                     <strong>Telefone:</strong> <?php echo $empresa_telefone; ?><br>
                                                                     <strong>Contato:</strong> <?php echo $empresa_contato; ?><br>
                                                                     <strong>Email:</strong> <?php echo $empresa_email; ?><br><br>

                                                                     <strong  style="padding: 0px 18px 9px;color: #1F64AB;font-size: 14px;text-align: left;">DADOS DA ENTIDADE</strong><br>
                                                                     <strong>Sigla:</strong> <?php echo $entidade_sigla; ?> <br>
                                                                     <strong>Nome:</strong> <?php echo $entidade_nome; ?> <br>
                                                                     <strong>CNPJ:</strong> <?php echo $entidade_cnpj; ?> <br>

                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                         <!--[if mso]>
                                                      </td>
                                                      <![endif]-->
                                                      <!--[if mso]>
                                                   </tr>
                                                </table>
                                                <![endif]-->
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
                                       <tbody class="mcnDividerBlockOuter">
                                          <tr>
                                             <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 5px 18px;">
                                                <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top: 2px solid #FFFFFF;">
                                                   <tbody>
                                                      <tr>
                                                         <td>
                                                            <span></span>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                                <!--            
                                                   <td class="mcnDividerBlockInner" style="padding: 18px;">
                                                   <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
                                                   -->
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="min-width:100%;">
                                       <tbody class="mcnImageBlockOuter">
                                          <tr>
                                             <td valign="top" style="padding:9px" class="mcnImageBlockInner">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="min-width:100%;">
                                                   <tbody>
                                                      <tr>
                                                         <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0;">
                                                            <img align="left" alt="" src="<?php echo $q83_assinatura; ?>" width="300" style="max-width:300px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                              <tr>
                                 <td valign="top" id="templateColumns">
                                    <!--[if (gte mso 9)|(IE)]>
                                    <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
                                       <tr>
                                          <td align="center" valign="top" width="300" style="width:300px;">
                                             <![endif]-->
                                             <table align="left" border="0" cellpadding="0" cellspacing="0" width="300" class="columnWrapper">
                                                <tr>
                                                   <td valign="top" class="columnContainer"></td>
                                                </tr>
                                             </table>
                                             <!--[if (gte mso 9)|(IE)]>
                                          </td>
                                          <td align="center" valign="top" width="300" style="width:300px;">
                                             <![endif]-->
                                             <table align="left" border="0" cellpadding="0" cellspacing="0" width="300" class="columnWrapper">
                                                <tr>
                                                   <td valign="top" class="columnContainer"></td>
                                                </tr>
                                             </table>
                                             <!--[if (gte mso 9)|(IE)]>
                                          </td>
                                       </tr>
                                    </table>
                                    <![endif]-->
                                 </td>
                              </tr>
                              <tr>
                                 <td valign="top" id="templateLowerBody"></td>
                              </tr>
                              <tr>
                                 <td valign="top" id="templateFooter">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowBlock" style="min-width:100%;">
                                       <tbody class="mcnFollowBlockOuter">
                                          <tr>
                                             <td align="center" valign="top" style="padding:9px" class="mcnFollowBlockInner">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentContainer" style="min-width:100%;">
                                                   <tbody>
                                                      <tr>
                                                         <td align="center" style="padding-left:9px;padding-right:9px;">
                                                            <table border="0" cellpadding="0" cellspacing="0" class="mcnFollowContent">
                                                               <tbody>
                                                                  <tr>
                                                                     <td align="center" valign="top" style="padding-top:9px; padding-right:9px; padding-left:9px;">
                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0">
                                                                           <tbody>
                                                                              <tr>
                                                                                 <td align="center" valign="top">
                                                                                    <!--[if mso]>
                                                                                    <table align="center" border="0" cellspacing="0" cellpadding="0">
                                                                                       <tr>
                                                                                          <![endif]-->
                                                                                          <!--[if mso]>
                                                                                          <td align="center" valign="top">
                                                                                             <![endif]-->
                                                                                             <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;">
                                                                                                <tbody>
                                                                                                   <tr>
                                                                                                      <td valign="top" style="padding-right:10px; padding-bottom:9px;" class="mcnFollowContentItemContainer">
                                                                                                         <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentItem">
                                                                                                            <tbody>
                                                                                                               <tr>
                                                                                                                  <td align="left" valign="middle" style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;">
                                                                                                                     <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                                                                                                        <tbody>
                                                                                                                           <tr>
                                                                                                                              <td align="center" valign="middle" width="24" class="mcnFollowIconContent">
                                                                                                                                 <a href="https://www.facebook.com/BeneficioSocialFamiliar/" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-color-facebook-48.png" style="display:block;" height="24" width="24" class=""></a>
                                                                                                                              </td>
                                                                                                                           </tr>
                                                                                                                        </tbody>
                                                                                                                     </table>
                                                                                                                  </td>
                                                                                                               </tr>
                                                                                                            </tbody>
                                                                                                         </table>
                                                                                                      </td>
                                                                                                   </tr>
                                                                                                </tbody>
                                                                                             </table>
                                                                                             <!--[if mso]>
                                                                                          </td>
                                                                                          <![endif]-->
                                                                                          <!--[if mso]>
                                                                                          <td align="center" valign="top">
                                                                                             <![endif]-->
                                                                                             <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;">
                                                                                                <tbody>
                                                                                                   <tr>
                                                                                                      <td valign="top" style="padding-right:10px; padding-bottom:9px;" class="mcnFollowContentItemContainer">
                                                                                                         <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentItem">
                                                                                                            <tbody>
                                                                                                               <tr>
                                                                                                                  <td align="left" valign="middle" style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;">
                                                                                                                     <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                                                                                                        <tbody>
                                                                                                                           <tr>
                                                                                                                              <td align="center" valign="middle" width="24" class="mcnFollowIconContent">
                                                                                                                                 <a href="http://instagram.com" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-color-instagram-48.png" style="display:block;" height="24" width="24" class=""></a>
                                                                                                                              </td>
                                                                                                                           </tr>
                                                                                                                        </tbody>
                                                                                                                     </table>
                                                                                                                  </td>
                                                                                                               </tr>
                                                                                                            </tbody>
                                                                                                         </table>
                                                                                                      </td>
                                                                                                   </tr>
                                                                                                </tbody>
                                                                                             </table>
                                                                                             <!--[if mso]>
                                                                                          </td>
                                                                                          <![endif]-->
                                                                                          <!--[if mso]>
                                                                                          <td align="center" valign="top">
                                                                                             <![endif]-->
                                                                                             <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;">
                                                                                                <tbody>
                                                                                                   <tr>
                                                                                                      <td valign="top" style="padding-right:0; padding-bottom:9px;" class="mcnFollowContentItemContainer">
                                                                                                         <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentItem">
                                                                                                            <tbody>
                                                                                                               <tr>
                                                                                                                  <td align="left" valign="middle" style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;">
                                                                                                                     <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                                                                                                        <tbody>
                                                                                                                           <tr>
                                                                                                                              <td align="center" valign="middle" width="24" class="mcnFollowIconContent">
                                                                                                                                 <a href="https://www.youtube.com/channel/UCf4n7T9bT0op7qDoMRyC7eg" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-color-youtube-48.png" style="display:block;" height="24" width="24" class=""></a>
                                                                                                                              </td>
                                                                                                                           </tr>
                                                                                                                        </tbody>
                                                                                                                     </table>
                                                                                                                  </td>
                                                                                                               </tr>
                                                                                                            </tbody>
                                                                                                         </table>
                                                                                                      </td>
                                                                                                   </tr>
                                                                                                </tbody>
                                                                                             </table>
                                                                                             <!--[if mso]>
                                                                                          </td>
                                                                                          <![endif]-->
                                                                                          <!--[if mso]>
                                                                                       </tr>
                                                                                    </table>
                                                                                    <![endif]-->
                                                                                 </td>
                                                                              </tr>
                                                                           </tbody>
                                                                        </table>
                                                                     </td>
                                                                  </tr>
                                                               </tbody>
                                                            </table>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                                       <tbody class="mcnTextBlockOuter">
                                          <tr>
                                             <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                                                <!--[if mso]>
                                                <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                                                   <tr>
                                                      <![endif]-->
                                                      <!--[if mso]>
                                                      <td valign="top" width="599" style="width:599px;">
                                                         <![endif]-->
                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" class="mcnTextContent" style="padding: 0px 18px 9px;color: #858585;font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, Verdana, sans-serif;text-align: center;">
                                                                     <p style="color: #858585;font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, Verdana, sans-serif;text-align: center;"><strong>Canais de Atendimento:</strong><br>
                                                                        <br>
                                                                        Para&nbsp;contatar, utilize o Chat Online ou Fale Conosco em nosso site: <span style="color:#1f64ab"><u>www.beneficiosocial.com.br.</u></span><br>
                                                                        <br>
                                                                        Dúvidas, sugestões e reclamações, ligue 0800 773 3738 ou 0800 580 3738&nbsp;(24 horas, todos os dias).
                                                                     </p>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                         <!--[if mso]>
                                                      </td>
                                                      <![endif]-->
                                                      <!--[if mso]>
                                                   </tr>
                                                </table>
                                                <![endif]-->
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
                                       <tbody class="mcnDividerBlockOuter">
                                          <tr>
                                             <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 15px 18px;">
                                                <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top: 2px solid #EAEAEA;">
                                                   <tbody>
                                                      <tr>
                                                         <td>
                                                            <span></span>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                                <!--            
                                                   <td class="mcnDividerBlockInner" style="padding: 18px;">
                                                   <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
                                                   -->
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                                       <tbody class="mcnTextBlockOuter">
                                          <tr>
                                             <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                                                <!--[if mso]>
                                                <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                                                   <tr>
                                                      <![endif]-->
                                                      <!--[if mso]>
                                                      <td valign="top" width="599" style="width:599px;">
                                                         <![endif]-->
                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" class="mcnTextContent" style="padding: 0px 18px 9px;color: #B1B0B0;font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, Verdana, sans-serif;font-size: 11px;text-align: center;">
                                                                     <div>© 2018 • Benefício Social Familiar. Todos os direitos reservados.</div>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                         <!--[if mso]>
                                                      </td>
                                                      <![endif]-->
                                                      <!--[if mso]>
                                                   </tr>
                                                </table>
                                                <![endif]-->
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                                       <tbody class="mcnTextBlockOuter">
                                          <tr>
                                             <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                                                <!--[if mso]>
                                                <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                                                   <tr>
                                                      <![endif]-->
                                                      <!--[if mso]>
                                                      <td valign="top" width="599" style="width:599px;">
                                                         <![endif]-->
                                                         <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="top" class="mcnTextContent" style="padding: 0px 18px 9px;color: #B1B0B0;font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, Verdana, sans-serif;font-size: 10px;text-align: center;">
                                                                     <div>Esta mensagem eletrônica é confidencial e seu conteúdo restrito ao destinatário da mensagem.&nbsp;<br>
                                                                        Sua utilização, cópia, distribuição ou divulgação são expressamente proibidas.
                                                                     </div>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                         <!--[if mso]>
                                                      </td>
                                                      <![endif]-->
                                                      <!--[if mso]>
                                                   </tr>
                                                </table>
                                                <![endif]-->
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                           <!--[if (gte mso 9)|(IE)]>
                        </td>
                     </tr>
                  </table>
                  <![endif]-->
                  <!-- // END TEMPLATE -->
               </td>
            </tr>
         </table>
      </center>
   </body>
</html>