/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body{
	/*background-image: url(fundo.jpg) ;*/
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #256CC9;

    font-family: arial;
}

.clearfix {
  height: 100%; 
  width: 100%; 
}


.btn {
    display: inline-block;
    padding: 8px 21px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
}


#content{width: 100%; float: left;}

.busca{
	    height: 240px;
    width: 450px;
    padding: 45px 0;
    /* border: 2px solid #ccc; */
    border-radius: 8px;
    background: rgba(255,255,255,0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;

}

.titulo {
    font-size: 15px;
    font-weight: bold;
}

.inputbusca{
    width: 80%;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 7px 4px;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.docnaoencontrado{

        height: 150px;
    width: 477px;
    padding: 15px;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
        background: rgb(255, 0, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    zoom: 100%;
    zoom: 100%;
    text-align: center;
    color: #fff;


}


.carteirinha{
	height: 330px;
    width: 477px;
	padding: 15px;
	border: 2px solid #ccc;
	border-radius: 22px;
	    background: rgba(255,255,255,0.9);
	position: absolute;
	top: 0; bottom: 0;
	    left: -16%; right: 0;
	margin: auto;
    zoom: 85%;
}

.buscadocumento{
    height: auto;
    width: 477px;
    padding: 15px;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    background: rgba(255, 255, 255,0.9);
    position: absolute;
    top: 25%;
    /* bottom: 0; */
    left: 0;
    right: 0;
    margin: auto;
    zoom: 100%;
}

.logo{margin: 0 auto; text-align: center;}
.logo img{max-width: 290px; width: 290px;}

.body fieldset{
	text-align: center;
    font-weight: bold;
    font-size: 13px;
    border: solid 1px #000;
    border-radius: 4px;
    padding: 4px 0px 7px;
    width: 438px;
    float: left;
    margin-bottom: 8px;
    color: #000;
    text-transform: uppercase;
}

.body fieldset legend {
    background: #fff;
    padding: 2px 13px 1px 13px;
    border-radius: 7px;
}

.body fieldset label{
	font-size: 14px;
    padding: 12px 0;
    width: 100%;
}

.body fieldset.metade{
	width: 217px;
	float: left;
}

fieldset.tres{
	width: 143px;
	float: left;	
}

.site{
    margin: 0 auto;
    text-align: center;
    margin-top: -1px;
    width: 100%;
    float: left;
    padding: 10px 0;
}


.buscadocumento fieldset{
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    border: solid 1px #000;
    border-radius: 4px;
    padding: 4px 0px 7px;
    width: 438px;
    float: left;
    margin-bottom: 8px;
    color: #000;
    text-transform: uppercase;
}


.buscadocumento fieldset legend{}
.buscadocumento fieldset label{
    font-size: 14px;
    padding: 12px 0;
    width: 100%;
}

.buscadocumento fieldset.metade{
    width: 217px !important;
    float: left;
}

.buscadocumento fieldset.tres{
    width: 143px !important;
    float: left;    
}

.naoencontrado{text-align: center;}
h4{font-weight: bold; margin-top: 30px; margin-bottom: 20px; font-size: 16px;}

.voltar{
	text-align: center;
}


@media print {
	body{background: none;}
	.carteirinha{background: none;}
	.esconde{display: none;}
	.logo img{max-width: 290px;}
}



@media screen and (max-width: 768px) {
	.container {
	    width: 100%;
	    float: left;
	}

	.busca {
	    height: 240px;
	    width: 85%;
	}

}


.buscalogin{
        padding: 20px 0;
}

.buscalogin label {
    width: 100%;
    float: left;
}


.buscaform {
    height: auto;
    width: 620px;    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: left;
}

.buscaform form{
        padding: 10px 20px;
    /* border: 2px solid #ccc; */
    border-radius: 8px;
    background: rgba(255,255,255,0.8);
    width: 100%;
    float: left;
}

.buscaindex{
        height: 240px;
    width: 450px;
    padding: 45px 0;
    /* border: 2px solid #ccc; */
    border-radius: 8px;
    background: rgba(255,255,255,0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;

}

.buscaindex ul{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

.buscaindex ul li{
    margin-bottom: 15px;
}

.buscaindex ul li a {
    width: 210px;
}

ul.form-section{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.form-section li{margin-bottom: 15px;}

ul.form-section input[type="radio"]{
    margin:-4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    float: left;
    width: 50px !important;
}

ul.form-section input{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100% !important;
    height: 33px;
}

ul.form-section select{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    height: 33px;
    margin-top: -2px;
}


fieldset.observacao label{
    color: #fff !important;
    font-size: 12px !important;
    font-family: 'arial' !important;
    font-weight: normal !important;
}

fieldset.observacao  {
    background: red;
}
.jSignature,
.signature-pad-wrapper{
    width: 100% !important;
    height: 250px !important;
}

.signature-wrapper{
    width: 100% !important;
    height: 250px !important;
    float: left;
    border-top: 1px solid #0a970a;
    border-bottom: 1px solid #0a970a;
}

#sig_pad_83{
    width: 100% !important;
    height: 250px !important;
    float: left;
}

.clear-pad{
    display: inline-block;
    padding: 8px 21px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #c0c0c0;
    color: #000;
    float: right;
    margin-top: 16px;
    margin-bottom: -52px;
        cursor: pointer;
    position: relative;
    z-index: 99999;
}

.form-checkbox {
    float: left;
    width: 40px !important;
    margin-top: -2px;
    margin-left: 3px;
}

.form-single-column{
        float: left;
}


#label_84{
    float: left;
}

#id_84{
    font-size: 20px;
    text-align: -webkit-auto;
}

#label_83{
    text-align: center;
    width: 100%;
    float: left;
    line-height: 22px;
    color: #0a970a;
}

.form-checkbox-item{
        float: left;
    width: 100%;
}

.form-checkbox {
    width: 40px !important;
    margin-top: -2px;
    margin-left: 3px;
}


#label_input_84_0{
    float: left;
    width: 40px;
}

@media screen and (max-width: 1024px) {
    .buscaform { width: 100%; }
}

@media screen and (max-width: 767px) {

	.buscadocumento { width: 100% !important;}

	.buscadocumento fieldset { width: 100% !important;}

	.buscadocumento fieldset.metade { width: 100% !important;}

}

.form-input{ border: none !important; }